<div class="container-fluid dashboard">

  <div class="row">

    <%= render 'shared/sidebar' %>

    <div class="col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 dashboard__container">

      <div class="row">

        <%= react_component("DashboardHeader", { title: "Dashboard" }) %>

        <div class="col-12 mb-2">
          <div class="card dashboard__filter">
            <form action="">

              <div class="form-group">
                <select class="dashboard__filter-select" data-filter="select" name="" id="">
                  <option>Tienda 5</option>
                  <option>Alto Las Condes</option>
                  <option>Departamental</option>
                  <option>Plaza Egaña</option>
                </select>
              </div>

              <div class="form-group">
                <select class="dashboard__filter-select" data-filter="select" name="" id="">
                  <option>Departamento 3</option>
                  <option>Juvenil Mujer</option>
                </select>
              </div>

              <div class="form-group">
                <select class="dashboard__filter-select" data-filter="select" name="" id="">
                  <option>Abril</option>
                  <option>Mayo</option>
                </select>
              </div>

              <div class="form-group">
                <select class="dashboard__filter-select" data-filter="select" name="" id="">
                  <option>2018</option>
                </select>
              </div>

              <button>Buscar</button>
            </form>
          </div>
        </div>

        <div class="col-12 mb-2">
          <div class="card dashboard__chart">
            <h5 class="card-title">Resultado de búsqueda</h5>
            <p class="card-text">Datos desde el 30 de abril al 27 de mayo de 2018</p>

            <%= react_component('Stats') %>
            <%= react_component('LineChart') %>

          </div>
        </div>

        <div class="col-12">

          <div class="row">

            <div class="col-md-4">

              <div class="card dashboard__progress mb-2">
                <h5 class="card-title">Planificación turnos mes siguiente</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 53%"></div>
                </div>
                <p class="card-text">8 de 15</p>
              </div>

              <div class="card dashboard__table">
                  <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th style="font-size: 12px;">Turno</th>
                            <th style="font-size: 12px;">Actual</th>
                            <th style="font-size: 12px;">Optimizado</th>
                            <th style="font-size: 12px;">Comprometido</th>
                            <th style="font-size: 12px;">Diferencia</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 1">T1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 2">T2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 3">T3</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 4">T4</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 5">T5</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 6">T6</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 7">T7</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 8">T8</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 9">T9</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">1</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 10">T10</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 11">T11</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">2</td>
                          </tr>
                          <tr>
                            <td class="shifts" style="font-size: 12px; text-align: center;" title="Turno 12">T12</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">3</td>
                            <td style="font-size: 12px; text-align: center;">0</td>
                            <td style="font-size: 12px; text-align: center;">3</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </div>
            </div>

            <div class="col-md-8">
              <%= react_component('EmployeesTable') %>
            </div>

          </div>

        </div>

        <%= render 'shared/footer' %>

      </div>

    </div>

  </div>

</div>
