<div class="container-fluid container-fixed-lg">	
	<h1>Mes de Mayo 2018</h1>
	<div class="row text-center">
		<div class="card-block col-md-6">
			<h3>Cumplimiento de plan</h3>
			<canvas id="chart-area1"></canvas>
		</div>
		<div class="card-block col-md-6">
			<h3>Eficiencia</h3>
			<canvas id="chart-area2"></canvas>
		</div>
	</div>
	<div class="row">
		<div id="productividad-graficos" class="card-block col-md-4 col-xs-12">
			<div class="productividad">
				<h3>Productividad</h3>
				<div class="productividad-grafico"><h1><%= @productividad %></h1></div>
			</div>
			<div class="productividad">
				<h3>Turnos cubiertos</h3>
				<div class="turnos-grafico"><h1><%= @turnos_cubiertos %></h1></div> </div>
		</div>
		<div id="div-tabla" class="card-block col-md-8">
			<h3>Cumplimiento de mis colaboradores</h3>
			<table class="table table-bordered ">
			<thead>
				<tr>
					<th>Colaborador</th>
					<th>Cumplimiento Alcanzado</th>
					<th>Detalle</th>
				</tr>
			</thead>
			<tbody>
				<% @sellers.each do |seller| %> 
				<tr>
					<td><%= seller.fullname %></td>
					<td><%= rand(1...10) %>%</td>
					<td><%= link_to 'Ver', seller, class: 'btn btn-info btn-xs' %>
				</tr>
				<% end %>
			</tbody>
			<tfoot></tfoot>
			</table>
		</div>		
	</div>
	<div class="padding-5em"></div>
</div>
<script type="text/javascript">

	function generateRandomInteger(min, max)
	{
 		return Math.floor(min + Math.random()*(max+1 - min))
	}

	  window.chartColors = {red: "rgb(255, 99, 132)", orange: "rgb(255, 159, 64)", yellow: "rgb(255, 205, 86)", green: "rgb(75, 192, 192)", blue: "rgb(54, 162, 235)", grey: "rgb(201, 203, 207)"}
	
		randomConfig1_1 = generateRandomInteger(5, 10);
		randomConfig1_2 = 100 - randomConfig1_1;
		
		var config1 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [randomConfig1_1, randomConfig1_2],
					backgroundColor: [ window.chartColors.blue, window.chartColors.grey],
					label: 'Dataset 1'
				}],
				labels: [randomConfig1_1 + '% de cumplimiento']
			},
			options: {
				responsive: true
			}
		};

		randomConfig2_1 = generateRandomInteger(60, 80);
		randomConfig2_2 = 100 - randomConfig2_1;

		var config2 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [ randomConfig2_1, randomConfig2_2],
					backgroundColor: [  window.chartColors.red, window.chartColors.grey],
					label: 'Dataset 1'
				}],
				labels: [ randomConfig2_1+'% de Eficiencia' ]
			},
			options: {
				responsive: true
			}
		};

		window.onload = function() {
			var ctx1 = document.getElementById('chart-area1').getContext('2d');
			window.myPie1 = new Chart(ctx1, config1);
			var ctx2 = document.getElementById('chart-area2').getContext('2d');
			window.myPie2 = new Chart(ctx2, config2);
		};

		var colorNames = Object.keys(window.chartColors);


	
</script>