<div class="container-fluid">
  <div class="pantalla-seccion d-flex flex-wrap justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Ventas Reales Por Día</div>
    </div>
    <div class="align-self-end text-right boton-comparar">
      <%= form_with url: import_real_sales_path, multipart: true, local: true do %>
        <br>
        <%= link_to 'Resetear datos', delete_real_sales_path, class: "btn" %>
        <%= link_to 'Descargar datos de prueba', downloads_real_sales_path, class: "btn" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 dashboard__container">
      <div class="row">
        <%= react_component('DashboardHeader', { title: 'Ventas reales por día' }) %>

      <tbody>
        <% @real_sales.each do |sale_real| %>
          <tr>
            <td><%= sale_real.store %></td>
            <td><%= sale_real.department %></td>
            <td><%= l sale_real.sale_date %></td>
            <td><%= sale_real.week %></td>
            <td><%= sale_real.month %></td>
            <td><%= sale_real.day %></td>
            <td><%= number_to_currency sale_real.total_day %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

