<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @sale_real.store %>
</p>

<p>
  <strong>Department:</strong>
  <%= @sale_real.department %>
</p>

<p>
  <strong>Date sale:</strong>
  <%= @sale_real.date_sale %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @sale_real.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @sale_real.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @sale_real.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @sale_real.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @sale_real.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @sale_real.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @sale_real.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @sale_real.sixteen %>
</p>

<p>
  <strong>Seventeen:</strong>
  <%= @sale_real.seventeen %>
</p>

<p>
  <strong>Eigthteen:</strong>
  <%= @sale_real.eigthteen %>
</p>

<p>
  <strong>Nineteen:</strong>
  <%= @sale_real.nineteen %>
</p>

<p>
  <strong>Twenty:</strong>
  <%= @sale_real.twenty %>
</p>

<p>
  <strong>Twenty one:</strong>
  <%= @sale_real.twenty_one %>
</p>

<p>
  <strong>Twenty two:</strong>
  <%= @sale_real.twenty_two %>
</p>

<p>
  <strong>Twenty three:</strong>
  <%= @sale_real.twenty_three %>
</p>

<p>
  <strong>Twenty four:</strong>
  <%= @sale_real.twenty_four %>
</p>

<p>
  <strong>Week:</strong>
  <%= @sale_real.week %>
</p>

<p>
  <strong>Month:</strong>
  <%= @sale_real.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sale_real.year %>
</p>

<p>
  <strong>Day number:</strong>
  <%= @sale_real.day_number %>
</p>

<%= link_to 'Edit', edit_sale_real_path(@sale_real) %> |
<%= link_to 'Back', real_sales_path %>