<div class="container-fluid">
  <div class="box">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Request:</strong>
      <%= @request_detail.request_id %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @request_detail.department_id %>
    </p>

    <p>
      <strong>Turn:</strong>
      <%= @request_detail.turn %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @request_detail.quantity %>
    </p>

    <p>
      <strong>Rrhh:</strong>
      <%= @request_detail.rrhh %>
    </p>

    <p>
      <strong>Internal:</strong>
      <%= @request_detail.internal %>
    </p>

    <p>
      <strong>Laborum:</strong>
      <%= @request_detail.laborum %>
    </p>

    <p>
      <strong>Trabajando:</strong>
      <%= @request_detail.trabajando %>
    </p>

    <%= link_to 'Edit', edit_request_detail_path(@request_detail) %> |
    <%= link_to 'Back', request_details_path %>

  </div>
</div>