<%= form_with(model: seller, local: true) do |form| %>
  <% if seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut, id: :seller_rut %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :seller_name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :seller_lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :seller_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :seller_phone %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :seller_street %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :seller_number %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :seller_city %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district, id: :seller_district %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county, id: :seller_county %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :seller_country %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.select :department_id,
                    options_from_collection_for_select(Department.all, :id, :name, seller.try(:department_id)),
                    { include_blank: false },
                    { id: :department_id }
    %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
