<div class="container-fluid">
  <div class="pantalla-seccion d-flex flex-wrap justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Colaboradores</div>
    </div> 
    <div class="align-self-end boton-comparar">
      <%= link_to '+ Colaborador', new_seller_path , class: "btn btn-primary"%>
    </div>   
  </div>

  <%= render 'search_form', locals: { status: 'show', path: sellers_path } %>

  <div class="formulario-comparacion">
    <div class="sub-titulo-pantalla">Resultado de búsqueda</div>
    <table class="table-shift table table-bordered form-style">
      <thead>
        <tr>
          <th class="hidden-md-down">Rut</th>
          <th>Nombre</th>
          <th class="hidden-xl-down">Email</th>
          <th class="hidden-xl-down">Teléfono</th>
          <th>Tienda</th>
          <th class="hidden-xs-down">Departamento</th>
          <th class="hidden-xs-down">Turno</th>
          <th class="hidden-xs-down">Fecha Inicio Turno</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sellers.each do |seller| %>
          <tr>
            <td class="hidden-md-down"><%= seller.rut %></td>
            <td><%= seller.fullname %></td>
            <td class="hidden-xl-down"><%= seller.email %></td>
            <td class="hidden-xl-down"><%= seller.phone %></td>
            <td><%= seller.store %></td>
            <td class="hidden-xs-down"><%= seller.department %></td>
            <td class="hidden-xs-down"><%= seller.available_shift.first.name %></td>
            <td class="hidden-xs-down"><%= seller.begin_shift %></td>
            <td><%= link_to 'Ver Detalle', seller, class: '' %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>