<p id="notice"><%= notice %></p>

<h2 class="m-t-40">Vendedores</h2>

<table class="table table-hover table-bordered table-smallFont dataTable">
  <thead>
    <tr>
      <th style="width: 10%">Rut</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Tienda</th>
      <th>Departamento</th>
      <th>Turno</th>
      <th>Fecha Inicio Turno</th>
      <th style="width: 20%"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.rut %></td>
        <td><%= seller.fullname %></td>
        <td><%= seller.email %></td>
        <td><%= seller.phone %></td>
        <td><%= seller.store %></td>
        <td><%= seller.department %></td>
        <td><%= seller.available_shift.first.name %></td>
        <td><%= seller.begin_shift %></td>
        <td><%= link_to 'Ver Detalle', seller, class: 'btn btn-info btn-xs' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller', new_seller_path %>
