          <div class="social-wrapper" id="seller_details">
            <div class="social " data-pages="social">
              <!-- START JUMBOTRON -->
              <div class="jumbotron" data-pages="parallax" data-social="cover">
                <div class="cover-photo">
                  <%= image_tag 'bg_cover.jpg', alt: 'Cover Photo' %>
                </div>
                <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
                  <div class="inner">
                    <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
                      <h5 class="text-white no-margin">Detalle de colaborador</h5>
                      <h1 class="text-white no-margin"><span class="semi-bold"><%= @seller.fullname %></span></h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END JUMBOTRON -->
              <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
                <div class="feed">
                  <!-- START DAY -->
                  <div class="day" data-social="day">
                    <!-- START ITEM -->
                    <div class="card no-border bg-transparent full-width" data-social="item">
                      <!-- START CONTAINER FLUID -->
                      <div class="container-fluid p-t-30 p-b-30 ">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="container-xs-height">
                              <div class="row-xs-height">
                                <div class="social-user-profile col-xs-height text-center col-top">
                                  <div class="thumbnail-wrapper d48 circular bordered b-white">
                                    <%= image_tag 'avatar.jpg', width:80, height:80 %>
                                  </div>
                                  <br>
                                  <i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
                                </div>
                                <div class="col-xs-4 p-l-20">
                                  <h3 class="no-margin p-b-5"><%= @seller.fullname %></h3>
                                  <p class="no-margin fs-16">
                                    <strong><%= @seller.store.name %> - <%= @seller.department.name %></strong>
                                  </p>
                                  <p class="no-margin fs-16">
                                    TURNO ASIGNADO : <span class="label label-info"><%= @seller.available_shift.first.name %></span>
                                  </p>
                                  <p class="hint-text m-t-5 small">
                                    Activo desde : <%= I18n.l(@seller.begin_shift, format: "%a, %d %b %Y", locale: :es) %>
                                  </p>
                                  <p class="hint-text m-t-5 small">Mi cumplimiento: 88%</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <p class="no-margin fs-16">
                              Información Adicional
                            </p>
                            <p class="hint-text m-t-5 small">
                              <p>
                                <span class="fa-stack">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                                </span>
                                <%= @seller.phone %>
                              <br>
                                <span class="fa-stack">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-at fa-stack-1x fa-inverse"></i>
                                </span>
                                <%= @seller.email %>
                              <br>
                                <span class="fa-stack">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                                </span>
                                <%= @seller.street %> <%= @seller.number %> - <%= @seller.city %> - <%= @seller.district %> <%= @seller.county %> 
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/<%= @seller.country.downcase %>.svg" width="15" height="15" class="m-l-10">
                              </p>

                          </div>
                        </div>
                      </div>
                      <!-- END CONTAINER FLUID -->
                    </div>
                    <!-- END ITEM -->
                    <!-- START ITEM -->


                    <div class="card card-transparent ">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs nav-tabs-fillup" data-init-reponsive-tabs="dropdownfx">
                        <li class="nav-item">
                          <a href="#" class="active" data-toggle="tab" data-target="#slide1"><span>Mi Turno</span></a>
                        </li>
                        <li class="nav-item">
                          <a href="#" data-toggle="tab" data-target="#slide2"><span>Mis días libres</span></a>
                        </li>
                        <li class="nav-item">
                          <a href="#" data-toggle="tab" data-target="#slide3"><span>Mis Ventas</span></a>
                        </li>
                        
                        <li class="nav-item">
                          <a href="#" data-toggle="tab" data-target="#slide4"><span>Mi Plan de Venta / Productividad</span></a>
                        </li>

                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane slide-left active" id="slide1">
                          <div class="row column-seperation">
                            <div class="col-sm-12">
                             <div class="card" data-social="item">
                              <div id="calendar_container" style="height: 850px" class="padding-20">
                              </div>
                            </div>           
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane slide-left" id="slide2">
                          <div class="row column-seperation">
                            <div class="col-sm-12">
                             <div class="card" data-social="item">
                              <div id="days_off_container" class="padding-20">
                                <div class="row">
                                <% @seller.my_days_off.each do |y| %>
                                    <% y[1].each do |m| %>
                                    <div class="col-sm-3">
                                      <table class="table table-bordered table-hover m-b-30">
                                        <thead>
                                        <tr class="bg-success">
                                          <th class="text-center text-white"><%= y[0] %> - <%= I18n.l(DateTime.parse(Date::MONTHNAMES[m[0].to_i]), format: "%B").capitalize %></th>
                                        </tr>
                                      </thead>
                                        <% m[1].each do |d| %>
                                        <tr>
                                          <td>
                                            <%= I18n.l(d[0].to_date, format: "%A, %d %b %Y", locale: :es) %>
                                          </td>
                                        </tr>
                                        <% end -%>
                                      </table>
                                  </div>
                                    <% end -%>
                                <% end -%>
                              </div>
                              </div>
                            </div>           
                            </div>
                          </div>
                        </div>

                        <div class="tab-pane slide-left" id="slide3">
                          <div class="row column-seperation">
                            <div class="col-sm-12">
                             <div class="card" data-social="item">
                              <div id="sales_plan_container" style="min-height: 850px" class="padding-20">

                                <div class="row ">  

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <h3 class="text-uppercase m-t-30 fs-13 bold">Alto Las Condes - Rincon Juvenil Mujer - <%= I18n.l(Time.now, format: "%A, %d %B %Y", locale: :es) %></h3>  
                                    <h5>(Plan: <%= number_to_currency @sp.first.first.values.first[:total_month_historic] %> / Real: <%= number_to_currency @real.first.first.values.first[:real_total_month]/100 %>) </h5>
                                    <h5>Mi cumplimiento: 88%</h5>
                                    <div class="row ">
                                    <% 
                                      i = 0
                                      @sp.each do |k,v|  %>  
                                      <div class="col-lg-12 col-xl-12 col-sm-12 m-t-30">
                                            <table id="table_shift_w1" class="table-shift table table-bordered bg-master-lightest">
                                              <thead>
                                                <tr class="bg-success">
                                                  <td colspan="9" class="text-center no-padding">
                                                    <h3 class="no-margin text-uppercase text-white fs-15">Semana <%= i+1 %></h3>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <th class="text-center">Horario</th>
                                                  <th class="text-center">Lun</th>
                                                  <th class="text-center">Mar</th>
                                                  <th class="text-center">Mie</th>
                                                  <th class="text-center">Jue</th>
                                                  <th class="text-center">Vie</th>
                                                  <th class="text-center">Sáb</th>
                                                  <th class="text-center">Dom</th>  
                                                  <th class="text-center">SUM</th>  
                                                </tr>
                                                <!--<tr>
                                                  <th> - </th>
                                                  <% k.values.first[:dates].each do |day| %>
                                                  <th class="text-center"><%= day %></th>
                                                  <% end -%> 
                                                </tr>-->
                                              </thead>
                                              <tbody class="t-p-3">
                                              <tr>
                                                  <th class="text-center">Plan</th>  
                                                  <% 
                                                  k.values.first[:sale_per_day].each do |d| %>
                                                  <td class="text-center"><%= number_to_currency d %></td>  
                                                  <% end -%>
                                                  <td class="text-center"><%= number_to_currency k.values.first[:sale_per_day].inject(:+) %></td>  
                                              </tr>                                                
                                              <tr>
                                                <th class="text-center">Real</th>  
                                                <% @real[i].first.values.first[:sale_per_day].each do |r| %>
                                                <td class="text-center"><%= number_to_currency r %></td>  
                                                <% end -%>
                                                <td class="text-center"><%= number_to_currency @real[i].first.values.first[:sale_per_day].inject(:+) %></td>  
                                              </tr>                                               
                                              </tbody>
                                            </table>
                                      </div>
                                    <% i = i+1; end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>           
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane slide-left" id="slide4">
                          <div class="row column-seperation">
                            <div class="col-sm-12">
                             <div class="card" data-social="item">
                              <div id="days_off_container" class="padding-20">
                                <div class="row">

                                    <div class="col-sm-12">
                                      <h2> <%= I18n.l(Time.now, format: "%A, %d %B %Y", locale: :es) %> </h2>
                                      <table class="table table-bordered table-hover m-b-30">
                                        <thead>
                                        <tr class="bg-success">
                                          <td colspan="16">Semana 1</td>
                                        </tr>
                                        <tr>
                                          <td>Fecha</td>
                                        <% @productivity[:one].each do |k,v| %>
                                          <td><%= k.to_s.to_date.strftime('%d-%m-%Y') %></td>
                                        <% end -%>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% count = 8 %>
                                        <% @ventas_colaborador.each do |k| %>
                                          <tr>
                                          <td><%= count += 1 %>:00</td>
                                          <% k.each do |a| %>
                                            <td><%= a %></td>
                                          <% end -%>
                                          </tr>
                                        <% end -%>
                                      </tbody>
                                      </table>
                                  </div>


                              </div>
                              </div>
                            </div>           
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>


                    
                    <!-- END ITEM -->

                  </div>
                </div>
              </div>
                    
<div class="row m-t-40">
  
  <div class="col-sm-3 dn">
  <h4>Detalle Turno Próximo 30 días.</h4>


  <input type="text" name="seller_id" id="seller_id" value="<%= @seller.id %>">
  <table class="table table-bordered">
      <% (1..30).each_with_index do |s,i| %>
    <tr>
      <td width="30%"><%= I18n.l(@seller.my_shift[@x+i][0].to_date, format: "%a, %d %b %Y", locale: :es) %></td>
      <td width="20%"><span class="label label-default label-xs"><%= @seller.my_shift[@x+i][1] %> - <%= @seller.my_shift[@x+i][2] %></span></td>
    </tr>
  <% end %>
  </table>
  </div>
</div>