.container-fluid
  .row.mb-2.dashboard__title
    .col
      %h1 Planificación de dotación
  .row.mb-2
    .col-md-12
      .dashboard__filter
        = render 'shared/filter_parameters/filter_6', filter: retail_parameters
  .row
    .col-md-12.dashboard__productivity-charts.mb-4
      .dashboard__productivity-charts__item
        %h3.text-center{style: 'font-size: 20px; font-weight: bold;'} Colaboradores
        .table-responsive
          %table.table
            %thead
              %tr
                %th &nbsp;
                %th Nombre
                %th RUT
                %th Tienda
                %th Departamento
                %th Turno actual
                %th Descripción
                %th Junio 2018
                %th Descripción
            %tbody
              - @staff_planifitacion.each do |shift|
                %tr
                  %td
                    .thumbnail
                      = image_tag 'table-thumbnail-default.jpg'
                  </div>
                  %td= shift[:name]
                  %td= shift[:rut]
                  %td= shift[:store]
                  %td= shift[:department]
                  %td= shift[:shift]
                  %td= shift[:shift_desc]
                  %td= shift[:new_shift]
                  %td{style: "background-color: #{ shift[:new_shift] == '' && shift[:new_shift_desc] == '' ? '#ff8a80' : '#81c784' }; color: white;"}= shift[:new_shift_desc]
  .row
    .col-md-5.dashboard__productivity-charts.mb-4
      .dashboard__productivity-charts__item
        .table-responsive
          %table.table
            %thead
              %tr
                %th{style: 'text-align: center;'} Turno
                %th{style: 'text-align: center;'} Actual
                %th{style: 'text-align: center;'} Optimizado
                %th{style: 'text-align: center;'} Comprometido
                %th{style: 'text-align: center;'} Por cubrir
            %tbody
              - @shift_optimized.each do |shift|
                %tr
                  %td{style: 'background-color: rgba(34, 42, 66, 0.1); text-align: center;'}= shift[:shift]
                  %td{style: 'text-align: center;'}= shift[:actual]
                  %td{style: 'text-align: center;'}= shift[:optimized]
                  %td{style: 'text-align: center;'}= shift[:committed]
                  %td{style: 'text-align: center;'}= shift[:to_cover]
            %tfoot
              %tr
                %td{style: 'background-color: rgba(34, 42, 66, .05); font-weight: bold; text-align: center;'} Totales
                %td{style: 'background-color: rgba(34, 42, 66, .05); text-align: center;'} 17
                %td{style: 'background-color: rgba(34, 42, 66, .05); text-align: center;'} 16
                %td{style: 'background-color: rgba(34, 42, 66, .05); text-align: center;'} 10
                %td{style: 'background-color: rgba(34, 42, 66, .05); text-align: center;'} 6
    .col-md-7.dashboard__productivity-charts
      .dashboard__productivity-charts__item
        .table-responsive
          %table.table
            %thead
              %tr
                %th{style: 'text-align: center;'} Turno disponible
                %th{style: 'text-align: center;'} Descripción
                %th{style: 'text-align: center;'} Cantidad
                %th{rowspan: 2, style: 'text-align: center;'} &nbsp;
            %tbody
              - @shift_available.each do |shift|
                %tr
                  %td{style: 'text-align: center;'}= shift[:shift]
                  %td{style: 'text-align: center;'}= shift[:desc]
                  %td{style: 'text-align: center;'}= shift[:quantity]
                  %td{style: 'text-align: center;'}
                    %label
                      %input{type: 'checkbox'}
              %tr
                %td{rowspan: 2} &nbsp;
                %td{rowspan: 2} &nbsp;
                %td{rowspan: 2} &nbsp;
                %td{rowspan: 2}
                  %button.btn.btn-primary{style: 'width: 100%;'} Publicar

