%li
  .sub-menu-title
    %span.title REPORTABILIDAD
  %ul.sub-menu
    %li.sub-title
      %span.icon-thumbnail
        = image_tag 'reporte.jpg', class: 'icon-min-menu'
      = link_to('Productividad', productivity_report_path)
    %li.sub-title
      %span.icon-thumbnail
        = image_tag 'comparativo-venta.jpg', class: 'icon-min-menu'
      = link_to('Comparativo', productivity_cluster_month_path)
    %li.sub-title
      %span.icon-thumbnail
        = image_tag 'reporte.jpg', class: 'icon-min-menu'
      = link_to('Eficiencia', efficiency_index_path)
    %li.sub-title
      %span.icon-thumbnail
        = image_tag 'colaboradores.jpg', class: 'icon-min-menu'
      = link_to('Cobertura', staffing_store_sellers_path)
