%li
  %div.sub-menu-title
    %span.title= 'PLANIFICACIÓN DE VENTAS'
    - if current_user.can_wiew_sale_planification?
      %ul.sub-menu
        %li.sub-title
          %span.icon-thumbnail
            = image_tag 'estadisticas.jpg',class: 'icon-min-menu'
          = link_to('Estadísticas', month_sales_path)
        %li.sub-title
          %span.icon-thumbnail
            = image_tag 'comparativo-venta.jpg',class: 'icon-min-menu'
          = link_to('Comparativo', month_sales_cluster_index_path)
        - if current_user.can_view_colaborators?
          %li.sub-title
            %span.icon-thumbnail
              = image_tag 'colaboradores.jpg',class: 'icon-min-menu'
            = link_to('Colaboradores', sellers_path)
        - if current_user.can_view_change_plan?
          %li.sub-title
            %span.icon-thumbnail
              = image_tag 'colaboradores.jpg',class: 'icon-min-menu'
            = link_to('Cambiar Plan', config_change_plan_path)