%nav.page-sidebar{ data: { page: 'sidebar' }}
  .sidebar-header.d-flex.justify-content-between.mb-2
    .p-2.logo-move
      = link_to root_path do
        = image_tag 'logo-tooxs.png', class: 'brand'
    .p-2
      .dropdown.pull-right.hidden-md-down
        %button.profile-dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true } }
          %span.thumbnail-wrapper.d32.circular.inline
            = image_tag 'avatar.jpg', class: 'brand', width: 32, height: 32
        .dropdown-menu.dropdown-menu-right.profile-dropdown
          %span.sdropdown-item.semi-bold= current_user.name + ' ' + current_user.lastname
          = link_to destroy_user_session_path, method: :delete, class: "clearfix bg-master-lighter dropdown-item" do
            %span.pull-left Salir
            %span.pull-right
              %i.pg-power
    .sidebar-header-controls.hidden-md-down
    %span.today-date 25 de Junio

  .scroll-wrapper.menu-items
    .sidebar-menu
      %ul.menu-items.scroll-content.scroll-scrolly_visible
        - if current_user.role == 'admin' || current_user.role == 'gcc' || current_user.role == 'gcp' || current_user.role == 'gz' or current_user.role == 'gt' or current_user.role == 'gv' or current_user.role == 'jd'
          = render 'shared/sidebar/sale_planification'
        - if current_user.role == 'admin' || current_user.role == 'gt' || current_user.role == 'gv' || current_user.role == 'jd' or current_user.role == 'colaborador'
          = render 'shared/sidebar/productivity_optimizer'
        - if current_user.role == 'admin' || current_user.role == 'gt' || current_user.role == 'gv'
          = render 'shared/sidebar/reportability'
        - if current_user.role == 'admin' or current_user.role == 'gt' or current_user.role == 'gv'
          = render 'shared/sidebar/shifts_make_available'
        - if current_user.role == 'admin'
          = render 'shared/sidebar/management'
        %li.hidden-md-up
          = link_to destroy_user_session_path, method: :delete, class: "clearfix" do
            %span.pull-left Salir
          %span.icon-thumbnail
            %i.pg-power
