<%= simple_form_for(@data_case) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_case %>
    <%= f.input :turn_num %>
    <%= f.input :dep_num %>
    <%= f.input :day_num %>
    <%= f.input :hour_day %>
    <%= f.input :hp_val %>
    <%= f.input :prod_obj %>
    <%= f.input :vhp %>
    <%= f.input :pov %>
    <%= f.input :lunch_in %>
    <%= f.input :lunch_hours %>
    <%= f.input :hour_min %>
    <%= f.input :turns_matrix %>
    <%= f.input :real_dot %>
    <%= f.input :sale_plan %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
