<p id="notice"><%= notice %></p>

<p>
  <strong>Id case:</strong>
  <%= @data_case.id_case %>
</p>

<p>
  <strong>Turn num:</strong>
  <%= @data_case.turn_num %>
</p>

<p>
  <strong>Dep num:</strong>
  <%= @data_case.dep_num %>
</p>

<p>
  <strong>Day num:</strong>
  <%= @data_case.day_num %>
</p>

<p>
  <strong>Hour day:</strong>
  <%= @data_case.hour_day %>
</p>

<p>
  <strong>Hp val:</strong>
  <%= @data_case.hp_val %>
</p>

<p>
  <strong>Prod obj:</strong>
  <%= @data_case.prod_obj %>
</p>

<p>
  <strong>Vhp:</strong>
  <%= @data_case.vhp %>
</p>

<p>
  <strong>Pov:</strong>
  <%= @data_case.pov %>
</p>

<p>
  <strong>Lunch in:</strong>
  <%= @data_case.lunch_in %>
</p>

<p>
  <strong>Lunch hours:</strong>
  <%= @data_case.lunch_hours %>
</p>

<p>
  <strong>Hour min:</strong>
  <%= @data_case.hour_min %>
</p>

<p>
  <strong>Turns matrix:</strong>
  <%= @data_case.turns_matrix %>
</p>

<p>
  <strong>Real dot:</strong>
  <%= @data_case.real_dot %>
</p>

<p>
  <strong>Sale plan:</strong>
  <%= @data_case.sale_plan %>
</p>

<p>
  <strong>month:</strong>
  <%= @data_case.month %>
</p>

<p>
  <strong>year:</strong>
  <%= @data_case.year %>
</p>

<%= link_to 'Edit', edit_data_case_path(@data_case) %> |
<%= link_to 'Back', data_cases_path %>