<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :store_name %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :store_street %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :store_number %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :store_city %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district, id: :store_district %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county, id: :store_county %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :store_country %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :store_size %>
  </div>

  <div class="field">
    <%= form.label :economic_segment %>
    <%= form.text_field :economic_segment, id: :store_economic_segment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
