<div class="container-fluid dashboard" id="sales_cluster">

  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 dashboard__container">
      <div class="row">
        <%= react_component('DashboardHeader', { title: 'Tiendas' }) %>

        <div class="col-12 mb-2">
          <div class="card dashboard__table">
            <h5 class="card-title">Listado de tiendas habilitadas</h5>
            <div class="align-self-end text-right mb-3 boton-comparar">
              <%= form_with url: import_stores_path, multipart: true, local: true do %>
                <%= link_to '+ Tienda', new_store_path, class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID origen</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Número</th>
                    <th>Ciudad</th>
                    <th>Comuna</th>
                    <th>Distrito</th>
                    <th>Código País</th>
                    <th>Tamaño</th>
                    <th>Segmento económico</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @stores.each do |store| %>
                    <tr>
                      <td><%= store.origin_id %></td>
                      <td><%= store.name %></td>
                      <td><%= store.street %></td>
                      <td><%= store.number %></td>
                      <td><%= store.city %></td>
                      <td><%= store.county %></td>
                      <td><%= store.district %></td>
                      <td><%= store.country %></td>
                      <td><%= store.size %></td>
                      <td><%= store.economic_segment %></td>
                      <td>
                        <%= link_to 'Mostrar', store %>
                        <%= link_to 'Editar', edit_store_path(store) %>
                        <%= link_to 'Eliminar', store, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este registro?' } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <%= render 'shared/footer' %>

      </div>
    </div>
  </div>
</div>
