<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @sp.store %>
</p>

<p>
  <strong>Department:</strong>
  <%= @sp.department %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sp.date %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sp.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @sp.month %>
</p>

<p>
  <strong>Week:</strong>
  <%= @sp.week %>
</p>

<p>
  <strong>Dow:</strong>
  <%= @sp.dow %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @sp.sale %>
</p>

<%= link_to 'Edit', edit_sp_path(@sp) %> |
<%= link_to 'Back', sps_path %>