<%= simple_form_for(@staffing_real) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :department %>
    <%= f.input :year %>
    <%= f.input :month %>
    <%= f.input :day %>
    <%= f.input :count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
