<div class="container-fluid">
  <div class="pantalla-seccion d-flex flex-wrap justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Turnos Reales Por Día</div>
    </div>  
    <div class="align-self-end text-right boton-comparar">
    <%= form_with url: import_staffing_reals_path, multipart: true, local: true do %>
      <%= label_tag :file, 'Importar desde xlsx' %>
      <%= file_field_tag :file  %>
        <br>
        <%= submit_tag '+ Importar', class: "btn" %>
        <%= link_to 'Resetear datos', delete_staffing_reals_path, class: "btn" %>
        <%= link_to 'Descargar datos de prueba', downloads_staffing_reals_path, class: "btn" %>
      <% end %>
    </div>    
  </div>
  <div class="formulario-comparacion">
    <div style="overflow: auto;">   
      <table class="table  table-hover table-smallFont" id="table-staffing_real">
        <thead>
          <tr>
            <th>Tienda</th>
            <th>Departmento</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Día</th>
            <th>Hora</th>
            <th>Cantidad</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @staffing_reals.each do |staffing_real| %>
            <tr>
              <td><%= staffing_real.store %></td>
              <td><%= staffing_real.department %></td>
              <td><%= staffing_real.year %></td>
              <td><%= staffing_real.month %></td>
              <td><%= staffing_real.day %></td>
              <td><%= staffing_real.hour %></td>
              <td><%= staffing_real.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
