<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @staffing_real.department %>
</p>

<p>
  <strong>Year:</strong>
  <%= @staffing_real.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @staffing_real.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @staffing_real.day %>
</p>

<p>
  <strong>Count:</strong>
  <%= @staffing_real.count %>
</p>

<%= link_to 'Edit', edit_staffing_real_path(@staffing_real) %> |
<%= link_to 'Back', staffing_reals_path %>