<script type="text/javascript">
  data = "<%= @brain_json %>";
  var plan_enviado = JSON.parse(data.replace(/&quot;/g,'"'));
</script>

<div class="container-fluid" id="hour_analysis">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Productividad</div>
    </div>    
  </div>

  <div class="sub-titulo-pantalla">Parámetros</div>
  <div>
    <%= simple_form_for @search, :url => hour_analysis_index_path, :class => 'row', :method => :get do |f| %>
    <div class="d-flex flex-wrap justify-content-end bd-highlight" id="sales_search_form">

      <div class="input-form">
        <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store] , label: false %>  
      </div>

      <div class="input-form">
        <%= f.input :department, collection: @departments, label: 'Departamento', wrapper: :select2,selected: params[:department], label: false %>  
      </div>

      <div class="input-form">
        <%= f.input :year, collection: (2018..2018), label: 'Año', wrapper: :select2, selected: params[:year], label: false %>  
      </div>

      <div class="input-form">
        <%= f.input :month, collection: (1..6).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: params[:month], label: false  %>  
      </div>

      <div class="boton-buscar">
        <%= button_tag type: 'submit',class: "btn btn-success" do %>
        <i class="fa fa-search" aria-hidden="true"></i> Buscar
        <% end %>
      </div>  
    </div>
    <% end %>
  </div>
</div>


<div class="formulario-comparacion">
  <div class="sub-titulo-pantalla">Resultado de búsqueda</div>
  <div class="row ">  
    <h5 class="text-uppercase m-t-30 fs-13 bold">Productividad por Hora - Alto Las Condes - Juvenil mujer</h5>
  </div>
  <div class="row justify-content-md-center">
    <br>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button id="button-horas" type="button" class="btn btn-secondary cambiar-grafico" data-grafico="1">Horas</button>
      <button id="button-pesos" type="button" class="btn btn-secondary cambiar-grafico" data-grafico="2">Pesos</button>
    </div>
  </div> 
  <div class="row ">
    <div class="col-sm-12 col-xl-10 offset-xl-1">
      <div id="chartContainer" style="width:100%; display: none;">
        <canvas id="canvas"> </canvas>
      </div>
      <div id="chartContainer-2" style="width:100%; display: none;">
        <canvas id="canvas-2"> </canvas>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <br>
        <br>
    <div class="input-group mb-3 col-xl-4">
      <input type="number" id="values-hour" class="form-control" placeholder="Costo horas" aria-label="Costo horas" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button id="evaluar" class="btn btn-outline-secondary btn-success" type="button">Evaluar</button>
      </div>
    </div>
  </div>
</div>

<div class="formulario-comparacion">
  <div class="row"> 
    <div class="col-sm-12 col-xl-10 offset-xl-1">
      <div class="sub-titulo-pantalla">Productividad</div><!-- al <%= I18n.l(Time.now, format: "%A, %d %B %Y", locale: :es) %></h2> -->
      <table id="table_desviaciones" class="table-shift table table-striped">
        <thead>
          <th></th>
          <th>Dotación</th>
          <th>Venta</th>
          <th>Prod.</th>
          <th>Horas faltantes</th>
          <th>Horas exeso</th>
        </thead>
        <tbody>
          <tr>
            <td>Prod. Real</td>
            <td id="dot_real-"><%= @dotacion_w_real.sum %></td>
            <td id="vent_real-"><%= number_to_currency @venta_w_real.sum %></td>
            <td id="prod_real-">
            <% if @dotacion_w_real.sum != 0 %>
              <%= number_to_currency (@venta_w_real.sum / @dotacion_w_real.sum).round %>
            <% end %> 
            </td>
            <td id="sum-exceso"></td>
            <td id="sum-faltante"></td>
          </tr>
          <tr>
            <td>Prod. Optimizada</td>
            <td id="dot_op-"><%= @dotacion_w_op.sum %></td>
            <td id="vent_op-"><%= number_to_currency @venta_w_real.sum %></td>
            <td id="prod_op-"><%= number_to_currency (@venta_w_real.sum / @dotacion_w_op.sum).round %></td>
            <td id="sum-exceso-op"></td>
            <td id="sum-faltante-op"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-xl-10 offset-xl-1">
      <div class="sub-titulo-pantalla">Detalle</div>
      <table id="table_desviaciones" class="table table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Total</th>
            <th>En pesos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ahorro en costo</td>
            <td id="sum-ahorro"></td>
            <td id="ahorro-total"></td>
          </tr>
          <tr>
            <td>Venta recuperada</td>
            <td id="sum-recuperada"></td>
            <td id="recuperada-total"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>

