<div class="card col-md-6 offset-md-3">
  <div class="card-block">
    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group">
          <%= f.input :name,  label: 'Nombre' %>
        </div>
        <div class="form-group">
          <%= f.input :lastname, label: 'Apellido paterno' %>
        </div>
        <div class="form-group">
          <%= f.input :surname, label: 'Apellido Materno'  %>
        </div>
        <div class="form-group">
          <select class="form-control" name="user[role]">
            <option value="admin">Administrador</option>
            <option value="gcc">Gerente comercial CORP</option>
            <option value="gcp">Gerente comercial País</option>
            <option value="gz">Gerente zonal</option>
             <option value="gt">Gerente de tienda</option>           
            <option value="gv">Gerente de ventas</option>
            <option value="jd">Jefe de departamento</option>
            <option value="colaborador">Colaborador</option>
          </select>
        </div>
        <div class="form-group">
          <%= f.input :picture, label:'Imagen' %>
        </div>
        <div class="form-group">
          <select class="form-control" name="user[status]">
            <option value="active">Habilitado</option>
            <option value="disabled">Deshabilitado</option>
          </select>
        </div>
        <div class="form-group">
          <%= f.input :position, label: 'Posición' %>
        </div>
        <div class="form-group">
          <%= f.input :rut %>
        </div>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="actions">
        <%= f.button :submit, value: 'Enviar',  class: 'btn btn-primary' %> &nbsp; <%= link_to 'Volver', users_path %>
      </div>
    <% end %>
  </div>
</div>
