<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table table-stripped table-hover table-smallFont" id="table-user">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Role</th>
      <th>Status</th>
      <th>Rut</th>
      <th colspan="1"> Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
                <td><%= user.name %></td>
                <td><%= user.lastname %></td>
                <td><%= user.role %></td>
                <td><%= user.status %></td>
                <td><%= user.rut %></td>
      
        <td>

        <%= link_to user_path(user), :class => 'btn btn-default' do %>
        <i class="fa fa-eye"></i> Ver Usuario
        <% end %>

        <%= link_to edit_user_path(user), :class => 'btn btn-default' do %>
        <i class="fa fa-edit"></i> Editar Usuario
        <% end %>

        <%= link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' do %>
        <i class="fa fa-trash-o"></i> Eliminar Usuario
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>