<p id="notice"><%= notice %></p>

<h1>Hs</h1>

<table class="table table-stripped table-condensed table-hover table-smallFont" id="table-h">
  <thead>
    <tr>
      <th>Store</th>
      <th>Department</th>
      <th>Date</th>
      <th>Year</th>
      <th>Month</th>
      <th>Week</th>
      <th>Dow</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Eleven</th>
      <th>Twelve</th>
      <th>Thirteen</th>
      <th>Fourteen</th>
      <th>Fifteen</th>
      <th>Sixteen</th>
      <th>Seventeen</th>
      <th>Eighteen</th>
      <th>Nineteen</th>
      <th>Twenty</th>
      <th>Twenty one</th>
      <th>Twenty two</th>
      <th>Twenty three</th>
      <th>Total day</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @hs.each do |h| %>
      <tr>
                <td><%= h.store %></td>
                <td><%= h.department %></td>
                <td><%= h.date %></td>
                <td><%= h.year %></td>
                <td><%= h.month %></td>
                <td><%= h.week %></td>
                <td><%= h.dow %></td>
                <td><%= h.nine %></td>
                <td><%= h.ten %></td>
                <td><%= h.eleven %></td>
                <td><%= h.twelve %></td>
                <td><%= h.thirteen %></td>
                <td><%= h.fourteen %></td>
                <td><%= h.fifteen %></td>
                <td><%= h.sixteen %></td>
                <td><%= h.seventeen %></td>
                <td><%= h.eighteen %></td>
                <td><%= h.nineteen %></td>
                <td><%= h.twenty %></td>
                <td><%= h.twenty_one %></td>
                <td><%= h.twenty_two %></td>
                <td><%= h.twenty_three %></td>
                <td><%= h.total_day %></td>
        
        <td>

        <%= link_to h_path(h), :class => 'btn btn-default' do %>
        <i class="fa fa-eye"></i> Ver ##H
        <% end %>

        <%= link_to edit_h_path(h), :class => 'btn btn-default' do %>
        <i class="fa fa-edit"></i> Editar ##H
        <% end %>

        <%= link_to h_path(h), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' do %>
        <i class="fa fa-trash-o"></i> Eliminar ##H
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New H', new_h_path %>