<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @h.store %>
</p>

<p>
  <strong>Department:</strong>
  <%= @h.department %>
</p>

<p>
  <strong>Date:</strong>
  <%= @h.date %>
</p>

<p>
  <strong>Year:</strong>
  <%= @h.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @h.month %>
</p>

<p>
  <strong>Week:</strong>
  <%= @h.week %>
</p>

<p>
  <strong>Dow:</strong>
  <%= @h.dow %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @h.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @h.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @h.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @h.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @h.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @h.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @h.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @h.sixteen %>
</p>

<p>
  <strong>Seventeen:</strong>
  <%= @h.seventeen %>
</p>

<p>
  <strong>Eighteen:</strong>
  <%= @h.eighteen %>
</p>

<p>
  <strong>Nineteen:</strong>
  <%= @h.nineteen %>
</p>

<p>
  <strong>Twenty:</strong>
  <%= @h.twenty %>
</p>

<p>
  <strong>Twenty one:</strong>
  <%= @h.twenty_one %>
</p>

<p>
  <strong>Twenty two:</strong>
  <%= @h.twenty_two %>
</p>

<p>
  <strong>Twenty three:</strong>
  <%= @h.twenty_three %>
</p>

<p>
  <strong>Total day:</strong>
  <%= @h.total_day %>
</p>

<%= link_to 'Edit', edit_h_path(@h) %> |
<%= link_to 'Back', hs_index_path %>