<style type="text/css">
  .label-formulario
  {
    line-height: 37px;
    margin-right: 1em;
  }
</style>
<div class="container-fluid" id="staffing_form">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Disponibilizador de turnos</div>
    </div>        
  </div>
  
  <div class="sub-titulo-pantalla">Parámetros</div>
  <div>
    <%= simple_form_for @search, :url => staffing_index_path, :method => :get do |f| %>
    <div class="d-flex flex-wrap bd-highlight" id="sales_search_form">
      <div class="d-flex col-md-6"> 
        <div class="col-md-6">
          <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store] , label: false%>  
        </div>
        <div class="col-md-6">
          <div>
            <select class="full-width select required select2-hidden-accessible" data-init-plugin="select2" name="department" id="department" tabindex="-1" aria-hidden="true" multiple="multiple">
              <option selected="selected" value="1" >Juvenil Mujer</option>
              <option value="2">Moda Hombre</option>
              <option value="3">Tecnología</option>
              <option value="4">Deportes</option>
              <option value="5">Moda Mujer</option>
              <option value="6">Infantil</option>
              <option value="7">Juvenil Mujer</option>
            </select>
          </div>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end" >
          <div class="label-formulario">
            Desde:  
          </div>
          <div class="input-form">
            <%= f.input :year, collection: (2016..2018), label: 'Año', wrapper: :select2,selected: params[:year], label: false %>  
          </div>

          <div class="input-form">
            <%= f.input :month, collection: (1..7).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: @month.to_i, label: false  %>  
          </div>
          <div class="btn btn-success">
            <i class="fa fa-search" aria-hidden="true"></i> Buscar
          </div>          
        </div>
        <div class="d-flex justify-content-end" style="padding-right: 105px;">
          <div class="label-formulario">
            Hasta:  
          </div>
          <div class="input-form">
            <%= f.input :year, collection: (2016..2018), label: 'Año', wrapper: :select2,selected: params[:year], label: false %>  
          </div>

          <div class="input-form">
            <%= f.input :month, collection: (1..7).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: @month.to_i, label: false  %>  
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="formulario-comparacion">
    <div class="sub-titulo-pantalla">Resultado de búsqueda</div>
    <div class="row" style="overflow: -webkit-paged-x;">
      <table class="table-shift table table-striped">
            <thead>
                <tr>
                    <th>Tienda</th>
                    <th>Departamento</th>           
                    <th>Turno</th>           
                    <th>Descripción de turno</th>           
                    <th>Cantidad necesaria</th>
                    <th>Cantidad a solicitar</th>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>
                    <th>Seleccionar</th>         
                </tr>
            </thead>
            <tbody class="t-p-3">
                <tr>
                  <td>Alto las condes</td>
                  <td>Rincón juvenil mujer</td>
                  <td>2</td>
                  <td>Turno 45 horas</td>
                  <td>3</td>
                  <td><input type="text" name="" style="width: 2em;"></td>
                  <td>01-07-2018</td>
                  <td>Indefinido</td>
                  <td><input type="checkbox" name=""></td>
                </tr>
                <tr>
                  <td>Alto las condes</td>
                  <td>Rincón juvenil mujer</td>
                  <td>4</td>
                  <td>Turno 2 Sábados y Domingos</td>
                  <td>2</td>
                  <td><input type="text" name="" style=" width: 2em;"></td>
                  <td>01-08-2018</td>
                  <td>Indefinido</td>
                  <td><input type="checkbox" name=""></td>
                </tr>
                <tr>
                  <td>Alto las condes</td>
                  <td>Moda mujer</td>
                  <td>3</td>
                  <td>Turno 2 de 45 horas</td>
                  <td>2</td>
                  <td><input type="text" name="" style=" width: 2em;"></td>
                  <td>01-07-2018</td>
                  <td>Indefinido</td>
                  <td><input type="checkbox" name=""></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end col-md-12 mt-2">
    <button class="btn btn-success">Resumir</button>
    </div>
    <div class="sub-titulo-pantalla">Resultado de solicitud</div>
    <div class="row" style="overflow: -webkit-paged-x;">
      <table class="table-shift table table-striped">
            <thead>
                <tr>
                    <th>Tienda</th>
                    <th>Departamento</th>           
                    <th>Turno</th>           
                    <th>Descripción de turno</th>           
                    <th>Cantidad a solicitar</th>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>    
                </tr>
            </thead>
            <tbody class="t-p-3">
                <tr>
                  <td>Alto las condes</td>
                  <td>Rincón juvenil mujer</td>
                  <td>2</td>
                  <td>Turno 45 horas</td>
                  <td>2</td>
                  <td>01-07-2018</td>
                  <td>Indefinido</td>
                </tr>
                <tr>
                  <td>Alto las condes</td>
                  <td>Rincón juvenil mujer</td>
                  <td>2</td>
                  <td>Turno 2 Sábados y Domingos</td>
                  <td>1</td>
                  <td>01-08-2018</td>
                  <td>Indefinido</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sub-titulo-pantalla">Dónde desea publicar</div>
    <div class="row">
      <div class="d-flex flex-wrap">
        <div class="form-group mr-3">
          <input type="checkbox" name="">
          <label>Postulación interna</label>
        </div>
        <div class="form-group mr-3">
          <input type="checkbox" name="">
          <label>Laborum</label>
        </div>
        <div class="form-group mr-3">
          <input type="checkbox" name="">
          <label>Trabajando</label>
        </div>
        <div class="form-group">
          <button class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>
</div>


