<style type="text/css">
  .label-formulario
  {
    line-height: 37px;
    margin-right: 1em;
  }
</style>
<div class="container-fluid" id="staffing_form">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Disponibilizador de turnos</div>
    </div>
  </div>

  <div class="dashboard__filter">
    <%= simple_form_for @search, :url => staff_request_index_path, :method => :get do |f| %>
      <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store] , label: false%>
      <div style="flex: 1;">
        <select class="" data-init-plugin="select2" name="departments[]" id="department" tabindex="-1" aria-hidden="true" multiple="multiple">
          <option value="0">Todos</option>
          <% @departments.each do |department| %>
            <option value="<%= department.id %>"><%= department.name %></option>
          <% end %>
        </select>
      </div>

      <div class="input-form" style="display: flex; flex: 1;">
        <label style="display: block; line-height: 35px; margin: 0 10px 0 0;">Desde:</label>
        <%= f.input :year, collection: (2016..2018), label: 'Año', wrapper: :select2,selected: params[:year], label: false %>
      </div>
      <%= f.input :month, collection: (6..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: @month.to_i, label: false  %>
      <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
    <% end %>
  </div>

  <% if @resultadoBusqueda.length > 0 %>
  <div class="formulario-comparacion" >
    <div class="sub-titulo-pantalla">Resultado de búsqueda</div>
    <div id="resultado_busqueda">
      <%= simple_form_for @search, :url => staff_request_request_send_path, :method => :post do |f| %>
      <div class="table-responsive">
        <table class="table">
              <thead>
                  <tr>
                      <th>Tienda</th>
                      <th>Departamento</th>
                      <th>Turno</th>
                      <th>Descripción de turno</th>
                      <th>Cantidad necesaria</th>
                      <th>Cantidad a solicitar</th>
                      <th>Fecha inicial</th>
                      <th>Seleccionar</th>
                  </tr>
              </thead>
              <tbody class="t-p-3">
                  <% count_row = 1 %>
                  <% @resultadoBusqueda.each do |resultado| %>
                  <tr>
                    <td>
                      <%= resultado[:tienda].name %>
                      <input type="hidden" name="store_<%= count_row %>" value="<%= resultado[:tienda].id %>" >
                    </td>
                    <td>
                      <%= resultado[:dep].name %>
                      <input type="hidden" name="dep_id_<%= count_row %>" value="<%= resultado[:dep].id %>" >
                    </td>
                    <td>
                      <%= resultado[:turno] %>
                      <input type="hidden" name="turno_id_<%= count_row %>" value="<%= resultado[:turno] %>" >
                    </td>
                    <td><%= resultado[:descrip] %></td>
                    <td><%= resultado[:cantidad] %></td>
                    <td><input class="form-control" type="text" name="cantidad_<%= count_row %>"></td>
                    <td>
                      <%= resultado[:fecha] %>
                      <input type="hidden" name="fecha_<%= count_row %>" value="<%= resultado[:fecha] %>" >
                      <input type="hidden" name="count_row" value="<%= count_row %>" >
                    </td>
                    <td><input type="checkbox" name="cargar_<%= count_row %>"></td>
                  </tr>
                  <% count_row += 1 %>
                  <% end %>
              </tbody>
          </table>
      </div>
      <div class="d-flex justify-content-end col-md-12 mt-2">
      <%= button_tag type: 'submit',class: "btn btn-success" do %>
        Resumir
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

