<p id="notice"><%= notice %></p>

<h1>Request Details</h1>

<table class="table table-stripped table-condensed table-hover table-smallFont" id="table-request_detail">
  <thead>
    <tr>
      <th>Request</th>
      <th>Department</th>
      <th>Turn</th>
      <th>Quantity</th>
      <th>Rrhh</th>
      <th>Internal</th>
      <th>Laborum</th>
      <th>Trabajando</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_details.each do |request_detail| %>
      <tr>
                <td><%= request_detail.request_id %></td>
                <td><%= request_detail.department_id %></td>
                <td><%= request_detail.turn %></td>
                <td><%= request_detail.quantity %></td>
                <td><%= request_detail.rrhh %></td>
                <td><%= request_detail.internal %></td>
                <td><%= request_detail.laborum %></td>
                <td><%= request_detail.trabajando %></td>
        
        <td>

        <%= link_to request_detail_path(request_detail), :class => 'btn btn-default' do %>
        <i class="fa fa-eye"></i>
        <% end %>

        <%= link_to edit_request_detail_path(request_detail), :class => 'btn btn-default' do %>
        <i class="fa fa-edit"></i>
        <% end %>

        <%= link_to request_detail_path(request_detail), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' do %>
        <i class="fa fa-trash-o"></i>
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request Detail', new_request_detail_path %>