<nav class="col-3 sidebar">
  <div class="sidebar__brand">
    <a class="sidebar__brand__logo" href="<%= root_path %>">
      <img src="<%= asset_pack_path('images/tooxs-logo-color.svg') %>" alt="Tooxs">
    </a>
    <div class="sidebar__brand__user">
      <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="<%= asset_pack_path('images/user_default.jpg') %>" alt="Usuario">
      </button>
      <div class="dropdown-menu sidebar__brand__user__menu" aria-labelledby="dropdownMenuButton">
        <h5 class="name">Carlos Arancibia Pérez</h5>
        <h6 class="position">Sales manager</h6>
        <%= Date.today.to_formatted_s(:long) %>
        <ul>
          <li><a href="#"><i class="fa fa-edit"></i>Editar perfil</a></li>
          <li><a href="#"><i class="fa fa-sign-out"></i>Salir</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="sidebar__menu">
    
    <div class="sidebar__menu__item">
      <h4>Planificación de ventas</h4>
      <ul class="sidebar__menu__item__list">
        <li><a class="active" href="#"><img src="<%= asset_pack_path('images/icons/line-charts.svg') %>" alt="">Estadísticas</a></li>
        <li><a href="#"><img src="<%= asset_pack_path('images/icons/bar-chart.svg') %>" alt="">Comparativo</a></li>
        <li><a href="#"><img src="<%= asset_pack_path('images/icons/line-charts.svg') %>" alt="">Colaboradores</a></li>
        <li><a href="#"><img src="<%= asset_pack_path('images/icons/line-charts.svg') %>" alt="">Cambiar plan</a></li>
      </ul>
    </div>
    <div class="sidebar__menu__item">
      <h4>Productividad</h4>
      <ul class="sidebar__menu__item__list">
        <li><a href="#"><img src="<%= asset_pack_path('images/icons/time.svg') %>" alt="">Optimizar turnos</a></li>
        <li><a href="#"><img src="<%= asset_pack_path('images/icons/horizontal-bar-chart.svg') %>" alt="">Análisis de horas</a></li>
      </ul>
    </div>
    <div class="sidebar__menu__item">
      <h4>Planificación de ventas</h4>
      <ul class="sidebar__menu__item__list">
        <li><a href="#">Estadísticas</a></li>
        <li><a href="#">Comparativo</a></li>
        <li><a href="#">Colaboradores</a></li>
        <li><a href="#">Cambiar plan</a></li>
      </ul>
    </div>
    <div class="sidebar__menu__item">
      <h4>Planificación de ventas</h4>
      <ul class="sidebar__menu__item__list">
        <li><a href="#">Estadísticas</a></li>
        <li><a href="#">Comparativo</a></li>
        <li><a href="#">Colaboradores</a></li>
        <li><a href="#">Cambiar plan</a></li>
      </ul>
    </div>

  </div>

</nav>