<br>
<br>
<div class="col-md-6 offset-md-3">
	<h1><%= @department.name %></h1>
</div>
<div class="row">
	<p id="notice"><%= notice %></p>
	<div class="col-md-6 offset-md-3">
		<div class="card card-default">
			<div class="card-header  separator">
				<div class="card-title text-success">Detalle</div>
			</div>
			<div class="card-block">
				<table class="table table-borxdered table-condensed table-stripped table-smaxllFont">
					<tbody>
						<tr>
							<td>ID</td>
							<td><%= @department.origin_id %></td>
						</tr>
						<tr>
							<td>Nombre</td>
							<td><%= @department.name %></td>
						</tr>
						<tr>
							<td>Departamento</td>
							<td><%= @department.store %></td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
				<div class="actions">
					<%= link_to 'Editar', edit_department_path(@department), class: "btn btn-primary" %>  <%= link_to 'Volver', departments_path %>
				</div>	
			</div>
		</div>
	</div>
</div>

