<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @department.origin_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @department.store %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
