<p id="notice"><%= notice %></p>

<h1>Staffing Cases</h1>

<table class="table table-stripped table-condensed table-hover table-smallFont" id="table-staffing_case">
  <thead>
    <tr>
      <th>Id case</th>
      <th>Tolerance</th>
      <th>Actual staffing eval</th>
      <th>Max time</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffing_cases.each do |staffing_case| %>
      <tr>
                <td><%= staffing_case.id_case %></td>
                <td><%= staffing_case.tolerance %></td>
                <td><%= staffing_case.actual_staffing_eval %></td>
                <td><%= staffing_case.max_time %></td>
                <td><%= staffing_case.user %></td>
        
        <td>

        <%= link_to staffing_case_path(staffing_case), :class => 'btn btn-default' do %>
        <i class="fa fa-eye"></i> Ver ##Staffing Case
        <% end %>

        <%= link_to edit_staffing_case_path(staffing_case), :class => 'btn btn-default' do %>
        <i class="fa fa-edit"></i> Editar ##Staffing Case
        <% end %>

        <%= link_to staffing_case_path(staffing_case), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' do %>
        <i class="fa fa-trash-o"></i> Eliminar ##Staffing Case
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staffing Case', new_staffing_case_path %>