<p id="notice"><%= notice %></p>

<p>
  <strong>Id case:</strong>
  <%= @staffing_case.id_case %>
</p>

<p>
  <strong>Tolerance:</strong>
  <%= @staffing_case.tolerance %>
</p>

<p>
  <strong>Actual staffing eval:</strong>
  <%= @staffing_case.actual_staffing_eval %>
</p>

<p>
  <strong>Max time:</strong>
  <%= @staffing_case.max_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @staffing_case.user %>
</p>

<%= link_to 'Edit', edit_staffing_case_path(@staffing_case) %> |
<%= link_to 'Back', staffing_cases_path %>