<div class="container-fluid" id="staffing_form">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Dotación Personal</div>
    </div>        
  </div>
  
  <div class="sub-titulo-pantalla">Parámetros</div>
  <div>
    <%= simple_form_for @search, :url => staffing_show_path, :method => :get do |f| %>
    <div class="d-flex justify-content-end bd-highlight" id="sales_search_form">
      <div class="input-form">
        <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store] %>  
      </div>

      <div class="input-form">
        <%= f.input :department, collection: @departments, label: 'Departamento', wrapper: :select2,selected: params[:department] %>  
      </div>

      <div class="input-form">
        <%= f.input :year, collection: (2016..2018), label: 'Año', wrapper: :select2,selected: @year %>  
      </div>

      <div class="input-form">
        <%= f.input :month, collection: (1..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: @month  %>  
      </div>

      <div>
        <%= button_tag type: 'submit', class: "btn btn-success btn-lg btn-larger", disabled: "disabled" do %>
        <i class="fa fa-search" aria-hidden="true"></i> Buscar
        <% end %>
      </div>  
    </div>
    <% end %>
  </div>
  <div class="formulario-comparacion">
    <div class="sub-titulo-pantalla">Resultado de búsqueda</div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-sm-12">
            <table class="table-shift table table-bordered">
              <thead>
                <tr>
                  <th colspan="8">Semana 1</th>
                </tr>
                <tr>
                  <th class="text-center">Hora</th>
                  <th class="text-center">L</th>
                  <th class="text-center">M</th>
                  <th class="text-center">M</th>
                  <th class="text-center">J</th>
                  <th class="text-center">V</th>
                  <th class="text-center">S</th>
                  <th class="text-center">D</th>  
                </tr>
                <tr>
                    <th class="text-center"> </th>
                  <% @staffing_w1[:dates].each do |d| %>
                    <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
                  <% end -%>
                </tr>
              </thead>
              <tbody class="t-p-3">
                <% @staffing_w1[:draw].each do |k,v|%>
                <tr>
                  <td class="text-center" align="center"><%= k %>:00</td>
                  <% 
                  v.first.each do |n| %>
                    <% if n != 0 %>
                    <td class="text-center">
                      <% data_names = "" %>
                      <% n[:sellers].map { |e| data_names += "#{e}<br>" } %>
                      <span class="label label-success tip" data-toggle="tooltip" data-original-title="<%=  data_names %>"><%= n[:hours] %></span>
                    </td>  
                    <% else %>
                    <td>  </td>
                    <% end -%>
                  <% end -%>
                </tr>
                <% end -%>
              </tbody>
            </table>
      </div>


      <div class="col-lg-6 col-xl-6 col-sm-12">
            <table class="table-shift table table-bordered">
              <thead>
                <tr>
                  <th colspan="8">Semana 2</th>
                </tr>
                <tr>
                  <th class="text-center">Hora</th>
                  <th class="text-center">L</th>
                  <th class="text-center">M</th>
                  <th class="text-center">M</th>
                  <th class="text-center">J</th>
                  <th class="text-center">V</th>
                  <th class="text-center">S</th>
                  <th class="text-center">D</th>  
                </tr>
                <tr>
                    <th class="text-center"> </th>
                  <% @staffing_w2[:dates].each do |d| %>
                    <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
                  <% end -%>
                </tr>
              </thead>
              <tbody class="t-p-3">
                <% @staffing_w2[:draw].each do |k,v|%>
                <tr>
                  <td class="text-center" align="center"><%= k %>:00</td>
                  <% 
                  v.first.each do |n| %>
                    <% if n != 0 %>
                    <td class="text-center">
                      <% data_names = "" %>
                      <% n[:sellers].map { |e| data_names += "#{e}<br>" } %>
                      <span class="label label-success tip" data-toggle="tooltip" data-original-title="<%=  data_names %>"><%= n[:hours] %></span>
                    </td>  
                    <% else %>
                    <td>  </td>
                    <% end -%>
                  <% end -%>
                </tr>
                <% end -%>
              </tbody>
            </table>
      </div>              

      <div class="col-lg-6 col-xl-6 col-sm-12">
            <table class="table-shift table table-bordered">
              <thead>
                <tr>
                  <th colspan="8">Semana 3</th>
                </tr>
                <tr>
                  <th class="text-center">Hora</th>
                  <th class="text-center">L</th>
                  <th class="text-center">M</th>
                  <th class="text-center">M</th>
                  <th class="text-center">J</th>
                  <th class="text-center">V</th>
                  <th class="text-center">S</th>
                  <th class="text-center">D</th>  
                </tr>
                <tr>
                    <th class="text-center"> </th>
                  <% @staffing_w3[:dates].each do |d| %>
                    <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
                  <% end -%>
                </tr>
              </thead>
              <tbody class="t-p-3">
                <% @staffing_w3[:draw].each do |k,v|%>
                <tr>
                  <td class="text-center" align="center"><%= k %>:00</td>
                  <% 
                  v.first.each do |n| %>
                    <% if n != 0 %>
                    <td class="text-center">
                      <% data_names = "" %>
                      <% n[:sellers].map { |e| data_names += "#{e}<br>" } %>
                      <span class="label label-success tip" data-toggle="tooltip" data-original-title="<%=  data_names %>"><%= n[:hours] %></span>
                    </td>  
                    <% else %>
                    <td>  </td>
                    <% end -%>
                  <% end -%>
                </tr>
                <% end -%>
              </tbody>
            </table>
      </div>              

      <div class="col-lg-6 col-xl-6 col-sm-12">
            <table class="table-shift table table-bordered">
              <thead>
                <tr>
                  <th colspan="8">Semana 4</th>
                </tr>
                <tr>
                  <th class="text-center">Hora</th>
                  <th class="text-center">L</th>
                  <th class="text-center">M</th>
                  <th class="text-center">M</th>
                  <th class="text-center">J</th>
                  <th class="text-center">V</th>
                  <th class="text-center">S</th>
                  <th class="text-center">D</th>  
                </tr>
                <tr>
                    <th class="text-center"> </th>
                  <% @staffing_w4[:dates].each do |d| %>
                    <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
                  <% end -%>
                </tr>
              </thead>
              <tbody class="t-p-3">
                <% @staffing_w4[:draw].each do |k,v|%>
                <tr>
                  <td class="text-center" align="center"><%= k %>:00</td>
                  <% 
                  v.first.each do |n| %>
                    <% if n != 0 %>
                    <td class="text-center">
                      <% data_names = "" %>
                      <% n[:sellers].map { |e| data_names += "#{e}<br>" } %>
                      <span class="label label-success tip" data-toggle="tooltip" data-original-title="<%=  data_names %>"><%= n[:hours] %></span>
                    </td>  
                    <% else %>
                    <td>  </td>
                    <% end -%>
                  <% end -%>
                </tr>
                <% end -%>
              </tbody>
            </table>
      </div>                    
    </div>
  </div>
</div>


