<div class="card card-transparent" id="staffing_form">
  <div class="card-header ">
    <div class="card-title ">
      Parámetros de Búsqueda - Dotación Personal
    </div>
  </div>

  <div class="card-block">
    <%= simple_form_for @search, :url => staffing_show_path, :method => :get do |f| %>
    <div class="row" id="sales_search_form">

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store] %>  
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <%= f.input :department, collection: @departments, label: 'Departamento', wrapper: :select2,selected: params[:department] %>  
      </div>

      <div class="col-12 col-sm-3 col-md-3 col-lg-2">
        <%= f.input :year, collection: (2016..2017), label: 'Año', wrapper: :select2,selected: params[:year] %>  
      </div>

      <div class="col-12 col-sm-3 col-md-3 col-lg-2">
        <%= f.input :month, collection: (1..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: params[:month]  %>  
      </div>

      <div class="col-12 col-sm-3 col-md-3 col-lg-1">


        <%= button_tag type: 'submit', class: "btn btn-success btn-lg btn-larger", disabled: "disabled" do %>
        <i class="fa fa-search" aria-hidden="true"></i> Buscar
        <% end %>

      </div>  
    </div>
    <% end %>
  </div>
</div>

  <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="bold">Personal Disponible - Noviembre 2017</h4>  
          </div>
        </div>

        <div class="row ">  
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5 class="text-uppercase m-t-30 fs-13 bold">Dotación Personal // Alto Las Condes - Rincon Juvenil Mujer - Noviembre 2017</h5>
            <div class="col-sm-12">
              <span class="label label-success tip dotacion" data-toggle="tooltip">Disponible</span>
              <span class="label label-danger tip dotacion" data-toggle="tooltip">Ausente</span>
            </div>
            <div class="row ">
              <div class="col-lg-6 col-xl-6 col-sm-12">
                    <table id="table_shift_w1" class="table-shift table table-bordered bg-master-lightest">
                      <thead>
                        <tr class="bg-success">
                          <td colspan="8" class="text-center no-padding">
                            <h3 class="no-margin text-uppercase text-white fs-15">Semana 1</h3>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-center">Horario</th>
                          <th class="text-center">Lun</th>
                          <th class="text-center">Mar</th>
                          <th class="text-center">Mie</th>
                          <th class="text-center">Jue</th>
                          <th class="text-center">Vie</th>
                          <th class="text-center">Sáb</th>
                          <th class="text-center">Dom</th>  
                        </tr>
                        <tr>
                            <th class="text-center"> </th>
                          <% @staffing_w1[:dates].each do |d| %>
                            <th class="text-center"> <%= d.to_date.strftime("%d-%m-%Y") %></th>
                          <% end -%>
                        </tr>
                      </thead>
                      <tbody class="t-p-3">
                        <% @staffing_w1[:draw].each do |k,v|%>
                        <tr>
                          <td class="text-center" align="center"><%= k %>:00</td>
                          <% 
                          v.first.each do |n| %>
                            <% if n != 0 %>
                            <td class="text-center">
                              <span class="label label-success tip dotacion" data-toggle="tooltip"><%= n %></span>
                              <span class="label label-danger tip dotacion" data-toggle="tooltip"><%= 9-n %></span>
                            </td>  
                            <% else %>
                            <td>  </td>
                            <% end -%>
                          <% end -%>
                        </tr>
                        <% end -%>
                      </tbody>
                    </table>
              </div>


              <div class="col-lg-6 col-xl-6 col-sm-12">
                    <table id="table_shift_w1" class="table-shift table table-bordered bg-master-lightest">
                      <thead>
                        <tr class="bg-success">
                          <td colspan="8" class="text-center no-padding">
                            <h3 class="no-margin text-uppercase text-white fs-15">Semana 2</h3>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-center">Horario</th>
                          <th class="text-center">Lun</th>
                          <th class="text-center">Mar</th>
                          <th class="text-center">Mie</th>
                          <th class="text-center">Jue</th>
                          <th class="text-center">Vie</th>
                          <th class="text-center">Sáb</th>
                          <th class="text-center">Dom</th>  
                        </tr>
                        <tr>
                            <th class="text-center"> </th>
                          <% @staffing_w2[:dates].each do |d| %>
                            <th class="text-center"> <%= d.to_date.strftime("%d-%m-%Y") %></th>
                          <% end -%>
                        </tr>
                      </thead>
                      <tbody class="t-p-3">
                        <% @staffing_w2[:draw].each do |k,v|%>
                        <tr>
                          <td class="text-center" align="center"><%= k %>:00</td>
                          <% 
                          v.first.each do |n| %>
                            <% if n != 0 %>
                            <td class="text-center">
                              <span class="label label-success tip dotacion" data-toggle="tooltip"><%= n %></span>
                              <span class="label label-danger tip dotacion" data-toggle="tooltip"><%= 9-n %></span>
                            </td>  
                            <% else %>
                            <td>  </td>
                            <% end -%>
                          <% end -%>
                        </tr>
                        <% end -%>
                      </tbody>
                    </table>
              </div>              

              <div class="col-lg-6 col-xl-6 col-sm-12">
                    <table id="table_shift_w1" class="table-shift table table-bordered bg-master-lightest">
                      <thead>
                        <tr class="bg-success">
                          <td colspan="8" class="text-center no-padding">
                            <h3 class="no-margin text-uppercase text-white fs-15">Semana 3</h3>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-center">Horario</th>
                          <th class="text-center">Lun</th>
                          <th class="text-center">Mar</th>
                          <th class="text-center">Mie</th>
                          <th class="text-center">Jue</th>
                          <th class="text-center">Vie</th>
                          <th class="text-center">Sáb</th>
                          <th class="text-center">Dom</th>  
                        </tr>
                        <tr>
                            <th class="text-center"> </th>
                          <% @staffing_w3[:dates].each do |d| %>
                            <th class="text-center"> <%= d.to_date.strftime("%d-%m-%Y") %></th>
                          <% end -%>
                        </tr>
                      </thead>
                      <tbody class="t-p-3">
                        <% @staffing_w3[:draw].each do |k,v|%>
                        <tr>
                          <td class="text-center" align="center"><%= k %>:00</td>
                          <% 
                          v.first.each do |n| %>
                            <% if n != 0 %>
                            <td class="text-center">
                              <span class="label label-success tip dotacion" data-toggle="tooltip"><%= n %></span>
                              <span class="label label-danger tip dotacion" data-toggle="tooltip"><%= 9-n %></span>
                            </td>  
                            <% else %>
                            <td>  </td>
                            <% end -%>
                          <% end -%>
                        </tr>
                        <% end -%>
                      </tbody>
                    </table>
              </div>              

              <div class="col-lg-6 col-xl-6 col-sm-12">
                    <table id="table_shift_w1" class="table-shift table table-bordered bg-master-lightest">
                      <thead>
                        <tr class="bg-success">
                          <td colspan="8" class="text-center no-padding">
                            <h3 class="no-margin text-uppercase text-white fs-15">Semana 4</h3>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-center">Horario</th>
                          <th class="text-center">Lun</th>
                          <th class="text-center">Mar</th>
                          <th class="text-center">Mie</th>
                          <th class="text-center">Jue</th>
                          <th class="text-center">Vie</th>
                          <th class="text-center">Sáb</th>
                          <th class="text-center">Dom</th>  
                        </tr>
                        <tr>
                            <th class="text-center"> </th>
                          <% @staffing_w4[:dates].each do |d| %>
                            <th class="text-center"> <%= d.to_date.strftime("%d-%m-%Y") %></th>
                          <% end -%>
                        </tr>
                      </thead>
                      <tbody class="t-p-3">
                        <% @staffing_w4[:draw].each do |k,v|%>
                        <tr>
                          <td class="text-center" align="center"><%= k %>:00</td>
                          <% 
                          v.first.each do |n| %>
                            <% if n != 0 %>
                            <td class="text-center">
                              <span class="label label-success tip dotacion" data-toggle="tooltip"><%= n %></span>
                              <span class="label label-danger tip dotacion" data-toggle="tooltip"><%= 9-n %></span>
                            </td>  
                            <% else %>
                            <td>  </td>
                            <% end -%>
                          <% end -%>
                        </tr>
                        <% end -%>
                      </tbody>
                    </table>
              </div>              

       
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



