<div class="card card-transparent">
  <div class="card-header ">
    <div class="card-title ">
      Parámetros de Búsqueda
    </div>
  </div>

  <div class="card-block">
    <%= simple_form_for @search, :url => staffing_show_path, :method => :get do |f| %>
    <div class="row" id="sales_search_form">

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: 1, :disabled => true %>  
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <%= f.input :department, collection: @departments, label: 'Departamento', wrapper: :select2,selected: 1, :disabled => true %>  
      </div>

      <div class="col-12 col-sm-3 col-md-3 col-lg-2">
        <%= f.input :year, collection: (2016..2018), label: 'Año', wrapper: :select2, selected: 2018, :disabled => true %>  
      </div>

      <div class="col-12 col-sm-3 col-md-3 col-lg-2">
        <%= f.input :month, collection: (1..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: @month, :disabled => true  %>  
      </div>

      <div class="col-12 col-sm-3 col-md-3 col-lg-1">
        <%= button_tag type: 'submit', :disabled => true,class: "btn btn-success btn-lg btn-larger" do %>
        <i class="fa fa-search" aria-hidden="true"></i> Buscar
        <% end %>

      </div>  
    </div>
    <% end %>
  </div>
</div>
    <div class="card-block">
      <h4 class="grafico-1">Reporte de Ventas</h4>
      <p class="m-t-20 grafico-1">Cluster: <span class="label label-default"><%= "#{@store.economic_segment} - #{@store.size}"  %></span>
      Tienda: <span class="label label-default"><%= @store.name %></span>
      Departamento: <span class="label label-default"><%= @dep.name %></span>
      </p>
     <div class="row" id="compare_stores"></div>
      <div class="row grafico-1">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
          <table class="table-shift table table-bordered bg-master-lightest">
            <thead>
              <tr class="bg-success text-center ">
                <th colspan="6" class="no-margin text-uppercase text-white fs-15"> 
                  <h3 class="no-margin text-center text-uppercase text-white fs-15"> <%= I18n.l(Date.parse("#{'%02d' % (@month) }/01"), format: "%B", locale: :es).capitalize %> - <%= @year %></h3>
                </th>
              </tr>
              <tr>
                <th class="text-center"> <%= @year %></th>
                <% @sale_plan.each do |k,v| %>
                <th class="text-center"> <%= "Semana #{k}" %> </th>
                <% end %>
                <th class="text-center"> <strong class="text-center"> Σ </strong> </th>
              </tr>
            </thead>
            <tbody class="">
              <tr>
                <td>PLAN</td>
                <%
                @sale_plan.values.each do |v|
                  %>
                  <td><%= number_to_currency v %></td>
                  <% end %>
                  <td>
                    <%= number_to_currency @sale_plan.values.sum %>
                  </td>
              </tr> 

              <tr>
                <td>REAL</td>
                <%
                @real_sale.values.each do |v|
                  %>
                  <td><%= number_to_currency v %></td>
                  <% end %>
                  <td>
                    <%= number_to_currency @real_sale.values.sum %>
                  </td>
              </tr> 

              <tr>
                <td>HISTORICO</td>
                <%
                @historic_sale.values.each do |v|
                  %>
                  <td><%= number_to_currency v %></td>
                  <% end %>
                  <td>
                    <%= number_to_currency @historic_sale.values.sum %>
                  </td>
              </tr>

            </tbody>
            <tfoot>
              <tr class="table-warning">
                <td><b>Real vs Plan  </b></td>
                <% @dif1.each do |v|%>
                <td class="text-centerx"><%= v.round(2) %>%
                <% if v > 0  %>
                  <i class="text-success fa fa-caret-up"></i>
                <% else %>
                  <i class="text-danger fa fa-caret-down"></i>
                <% end -%>
                </td>
                <% end %>
                <td> - </td>
              </tr>
              <tr class="table-warning">
                <td><b>Real vs Histórico</b> </td>
                <% @dif2.each do |v|%>
                <td class="text-centerx"><%= v.round(2) %>%
                <% if v > 0  %>
                  <i class="text-success fa fa-caret-up"></i>
                <% else %>
                  <i class="text-danger fa fa-caret-down"></i>
                <% end -%>
                </td>
                <% end %>
                <td> - </td>              
              </tr>              
            </tfoot>
          </table>
        </div>
      </div>      
    </div>
 