<div class="container-fluid" id="productivity_cluster">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Comparativo de productividad</div>
    </div>
  </div>
  <%= render 'shared/filter_parameters/filter_5', filter: retail_parameters, route: productivity_cluster_month_path %>

  <div class="row" id="compare_stores"></div>
  <div class="grafico-principal">
    <p class="m-t-20 grafico-1">Segmento: <span class="label label-default"><%= retail_parameters[:cluster_object].name %></span>
    Departamento: <span class="label label-default"><%= @department.name %></span>
    Tiendas:
    <% retail_parameters[:stores].first(2).each do |s| %>
     <span class="label label-default"><%= s[0] %></span>
    <% end %>
     </p>
    <canvas id="canvas"></canvas>
  </div>

  <div class="formulario-comparacion">
    <!-- tabla -->
    <div class="sub-titulo-pantalla"><%= I18n.l(Date.parse("#{'%02d' % @month }/01"), format: "%B", locale: :es).capitalize %> <%= @year %></div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>TIENDA</th>
            <% week = 0 %>
            <% if @resultStore.length > 0 %>
              <% (@resultStore.first[:prodWeek].length).times do |i| %>
              <th> <%= "Semana #{week += 1 }" %> </th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @resultStore.each do |store| %>
          <tr>
            <td><%= store[:label] %></td>
            <% store[:prodWeek].each do |v| %>
              <td><%= number_to_currency v %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

