<div class="container-fluid" id="productivity_cluster">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Comparativo de productividad</div>
    </div>    
  </div>

  <%= render 'search_form', locals: { status: 'show', path: productivity_cluster_month_path} %>
  
  <div class="row" id="compare_stores"></div>
  <div class="grafico-principal">
    <p class="m-t-20 grafico-1">Segmento: <span class="label label-default"><%= @cluster_name %></span>
    Departamento: <span class="label label-default"><%= @masterDeparment[:name] %></span>
    Tiendas:
    <% @stores.each do |s| %>  
     <span class="label label-default"><%= s.name %></span>
    <% end %>
     </p>
    <canvas id="canvas"></canvas>
  </div>

  <div class="formulario-comparacion">
    <!-- tabla -->
    <div class="sub-titulo-pantalla"><%= I18n.l(Date.parse("#{'%02d' % @month }/01"), format: "%B", locale: :es).capitalize %> <%= @year %></div>
    <table class="table-shift table table-striped">
      <thead>
        <tr>
          <th>TIENDA</th>
          <% week = 0 %>
          <% (@resultStore.first[:prodWeek].length).times do |i| %>
          <th> <%= "Semana #{week += 1 }" %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @resultStore.each do |store| %>
        <tr>
          <td><%= store[:label] %></td>
          <% store[:prodWeek].each do |v| %>
            <td><%= number_to_currency v %></td>
          <% end %>
        </tr>      
        <% end %>     
      </tbody>
    </table>       
  </div>
</div> 

