<script type="text/javascript">
  data = "<%= @brain_json %>";
  var plan_enviado = JSON.parse(data.replace(/&quot;/g,'"'));
</script>

<div class="container-fluid" id="productivity_demo">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Optimizador de turnos</div>
    </div>    
  </div>

  <div class="sub-titulo-pantalla">Parámetros</div>
  <div>
    <%= simple_form_for @search, :url => productivity_show_path, :class => 'row', :method => :get do |f| %>
    <div class="d-flex flex-wrap justify-content-end bd-highlight" id="sales_search_form">

      <div class="input-form">
        <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store]  , label: false %>  
      </div>

      <div class="input-form">
        <%= f.input :department, collection: @departments, label: 'Departamento', wrapper: :select2,selected: params[:department] , label: false %>  
      </div>

      <div class="input-form">
        <%= f.input :year, collection: (2018..2018), label: 'Año', wrapper: :select2, selected: params[:year] , label: false %>  
      </div>

      <div class="input-form">
        <%= f.input :month, collection: (1..8).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: params[:month] , label: false  %>  
      </div>

      <div class="boton-buscar">
        <%= button_tag type: 'submit', class: "btn btn-success" do %>
        <i class="fa fa-search" aria-hidden="true"></i> Buscar
        <% end %>
      </div>  
    </div>
    <% end %>
  </div>

  <div class="formulario-comparacion">
    <div class="sub-titulo-pantalla">Resultado</div>
    <div class="row ">  
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h5 class="text-uppercase m-t-30 fs-13 bold">Alto Las Condes - Juvenil mujer - <%= I18n.l(Date.parse("#{'%02d' % params[:month] }/01"), format: "%B", locale: :es).capitalize %> <%= params[:year] %></h5>
        <div class="row ">
          <div class="col-sm-12 col-xl-10 offset-xl-1">
            <div id="chartContainer" style="width:100%;">
              <canvas id="canvas"> </canvas>
            </div>
          </div>             
          <div id="productividades" class="col-xl-10 offset-xl-1"></div>
        </div>
        <div id="botones-optimizar" class="row m-t-30" style="display: none">
          <div class="col-xl-1">
            <input type="number" class="form-control" id="minutos_optimizando" name="minutos_optimizando" placeholder="minutos" min="0" max="10">
          </div>
          <div class="col-xl-11" >
            <button type="button" class="btn btn-info btn-optimize"> <i class="fa fa-cogs"></i> Optimizar </button>
            <span id="contenedor">
                <span class="reloj" id="Horas">00</span>
                <span class="reloj" id="Minutos">:00</span>
                <span class="reloj" id="Segundos">:00</span>
                <span class="reloj" id="Centesimas">:00</span>
            </span>
          </div>
        </div>            
      </div>
    </div>
  </div>

  <div class="formulario-comparacion">
    <div class="col-xl-8 offset-xl-2">
      <div >
        <h3>Planificación de dotación</h3>      
      </div>
      <table  id="tabla-resumen" class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Turno</th>
          <th>Dotación actual</th>
          <th>Dotación optimizada</th>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td>Eficiencia dotación</td>
            <td></td>
            <td id="margen-actual">%</td>
            <td id="margen-optimizado">%</td>
          </tr>
          <tr>
            <td>HH Totales</td>
            <td></td>
            <td id="hh-actual">0</td>
            <td id="hh-optimizado">0</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <div id="detalle-dotacion" class="formulario-comparacion">  
    <div class="sub-titulo-pantalla">Resultado de búsqueda</div>
    <div>
      <span class="label label-success tip" data-toggle="tooltip">Actual</span>
      <span class="label label-primary tip" data-toggle="tooltip">Optimizado</span>
    </div>
    <div class="row">  
      <div class="col-xl-12" style="overflow-y: auto">
        <table class="table-shift table table-striped">
          <thead>
            <tr>
              <th colspan="8" class="text-center">Semana 1</th>
            </tr>
            <tr>
                <th class="text-center"> Hora</th>
              <% @staffing_w1[:dates].each do |d| %>
                <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
              <% end -%>
            </tr>
          </thead>
          <tbody class="t-p-3">
            <% hora = -1 
               dia = 0
               countTurnos = 0 %>                         
            <% @staffing_w1[:draw].each do |k,v|%>
            <tr>
              <% if k != :"9"  && k != :"10"  &&  k != :"21" &&  k != :"22" &&  k != :"23" &&  k != :"24" %>
              <td class="text-center" align="center"><%= k %><span class="hidden-xs-down">:00</span></td>
              <% dia = 0 %>
              <% v.first.each do |n| %>
                <% if n != 0 %>
                  <td class="hora text-center">
                    <div class="dotacion-row">
                      <span id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip"></span>
                      <span id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip"></span>
                    </div>
                  </td>  
                  <% else %>
                  <td class="text-center">
                    <div class="dotacion-row">
                      <span id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip">0</span>
                      <span id="optimizado-<%= hora+dia %>"  class="dotacion label label-primary tip" data-toggle="tooltip">0</span>
                    </div>
                  </td>
                  <% end -%>
                  <% dia += 10 %>
                <% end -%>
              <% end -%>
            </tr>
            <% hora += 1 %>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div class="col-xl-12">
        <table class="table-shift table table-striped">
          <thead>
            <tr>
              <th colspan="8" class="text-center">Semana 2</th>
            </tr>
            <tr>
                <th class="text-center"> Hora </th>
              <% @staffing_w2[:dates].each do |d| %>
                <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
              <% end -%>
            </tr>
          </thead>
          <tbody class="t-p-3">
            <% hora = 69 
               dia = 0
               countTurnos = 0 %>   
            <% @staffing_w2[:draw].each do |k,v|%>
            <tr>
              <% if k != :"9"  && k != :"10"  &&  k != :"21" &&  k != :"22" &&  k != :"23" &&  k != :"24" %>
              <td class="text-center" align="center"><%= k %>:00</td>
              <% dia = 0 %>
              <% v.first.each do |n| %>
                <% if n != 0 %>
                <td class="text-center">
                  <div class="dotacion-row">
                    <span id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip"> </span>
                    <span id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip"></span>
                  </div>
                </td>  
                <% else %>
                <td class="text-center">
                  <div class="dotacion-row">
                    <span id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip">0</span>
                    <span id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip">0</span>
                  </div>
                </td>
                <% end -%>
                <% dia += 10 %>
              <% end -%>
              <% end -%>
            </tr>
            <% hora += 1 %>
            <% end -%>
          </tbody>
        </table>
      </div>              
      <div class="col-xl-12">
        <table class="table-shift table table-striped">
          <thead>
            <tr>
              <th colspan="8" class="text-center">Semana 3</th>
            </tr>
            <tr>
                <th class="text-center"> Hora </th>
              <% @staffing_w3[:dates].each do |d| %>
                <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
              <% end -%>
            </tr>
          </thead>
          <tbody class="t-p-3">
            <% hora = 139 
               dia = 0
               countTurnos = 0 %>   
            <% @staffing_w3[:draw].each do |k,v|%>
            <tr>
              <% if k != :"9"  && k != :"10"  &&  k != :"21" &&  k != :"22" &&  k != :"23" &&  k != :"24" %>
              <td class="text-center" align="center"><%= k %>:00</td>
              <% dia = 0 %>
              <% v.first.each do |n| %>
                <% if n != 0 %>
                <td class="text-center">
                  <div class="dotacion-row">
                    <div id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip"></div>
                    <div id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip"></div>
                  </div>
                </td>  
                <% else %>
                <td class="text-center">
                  <div class="dotacion-row">
                    <div id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip">0</div>
                    <div id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip">0</div>
                  </div>
                </td>
                <% end -%>
                <% dia += 10 %>
              <% end -%>
              <% end -%>
            </tr>
            <% hora += 1 %>
            <% end -%>
          </tbody>             
        </table>
      </div>              
      <div class="col-xl-12">
        <table class="table-shift table table-striped">
          <thead>
            <tr>
              <th colspan="8" class="text-center">Semana 4</th>
            </tr>
            <tr>
                <th class="text-center"> Hora </th>
              <% @staffing_w4[:dates].each do |d| %>
                <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
              <% end -%>
            </tr>
          </thead>
          <tbody class="t-p-3">
            <% hora = 209 
               dia = 0
               countTurnos = 0 %>   
            <% @staffing_w4[:draw].each do |k,v|%>
            <tr>
              <% if k != :"9"  && k != :"10"  &&  k != :"21" &&  k != :"22" &&  k != :"23" &&  k != :"24" %>
              <td class="text-center" align="center"><%= k %>:00</td>
              <% dia = 0 %>
              <% v.first.each do |n| %>
                <% if n != 0 %>
                <td class="text-center">
                  <div class="dotacion-row">
                    <span id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip"> </span>
                    <span id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip"></span>
                  </div>
                </td>  
                <% else %>
                <td class="text-center">
                  <div class="dotacion-row">
                    <span id="optimo-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip">0</span>
                    <span id="optimizado-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip">0</span>
                  </div>
                </td>
                <% end -%>
                <% dia += 10 %>
              <% end -%>
              <% end -%>
            </tr>
            <% hora += 1 %>
            <% end -%>
          </tbody>
        </table>
      </div>  
    </div>              
  </div>
</div>
