.container-fluid
  %div{class: 'row dashboard-market'}
    %div{class: "col-md-12 dashboard-market__title"}
      %h1 Dashboard supermercado
    %div{class: 'col-md-12 dashboard-market__filter clearfix'}
      = render 'shared/filter_parameters/filter_3', filter: market_parameters
    .col-md-12.mb-4
      .dashboard-market__tables
        .row
          .col-md-3
            %h4 Turnos
            %table
              %thead
                %tr
                  %th ID
                  %th{'colspan': '2'} &nbsp;
              %tbody
                %tr
                  %td T1
                  %td Turno 1 de 45 horas
                %tr
                  %td T2
                  %td Turno 2 de 45 horas
                %tr
                  %td T3
                  %td Turno 3 de 45 horas
                %tr
                  %td T4
                  %td Turno 4 de 45 horas
                %tr
                  %td T5
                  %td Turno 1 de 36 horas
                %tr
                  %td T6
                  %td Turno 1 de 36 horas
                %tr
                  %td T7
                  %td Turno 1 de 36 horas
                %tr
                  %td T8
                  %td Turno 1 de 36 horas
                %tr
                  %td T9
                  %td Turno 1 de 24 horas
                %tr
                  %td T10
                  %td Turno SA / DO
                %tr
                  %td T11
                  %td Turno 1 Tarde
                %tr
                  %td T12
                  %td Turno 2 Tarde
              %tfoot
                %tr
                  %td{'colspan': '2'} Total
                %tr
                  %td{'colspan': '2'} Eficiencia
                %tr
                  %td{'colspan': '2'} HH Totales
                %tr
                  %td{'colspan': '2'} Productividad Real
                %tr
                  %td{'colspan': '2'} Productividad Objetivo
                %tr
                  %td{'colspan': '2'} Turnos cubiertos
          .col-md-9
            %div{class: 'dashboard-market__tables__carousel owl-carousel'}
              .dashboard-market__tables__carousel-item
                %h4 Cajas
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizado
                      %th Comprometido
                      %th Diferencia
                  %tbody
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 11
                      %td 8
                      %td 7
                      %td 1
                    %tr
                      %td{colspan: 2} 49.8%
                      %td{colspan: 2} 71.2%
                    %tr
                      %td{colspan: 2} 1.308
                      %td{colspan: 2} 1.709
                    %tr
                      %td{'colspan': '4'} 642 unidad/hora
                    %tr
                      %td{'colspan': '4'} 692 unidad/hora
                    %tr
                      %td{'colspan': '4'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            6 de 8
              .dashboard-market__tables__carousel-item
                %h4 Abarrotes y bebidas
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizado
                      %th Comprometido
                      %th Diferencia
                  %tbody
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                      %td 1
                      %td 0
                  %tfoot
                    %tr
                      %td 6
                      %td 5
                      %td 4
                      %td 1
                    %tr
                      %td{colspan: 2} 57.2%
                      %td{colspan: 2} 72.8%
                    %tr
                      %td{colspan: 2} 1.543
                      %td{colspan: 2} 2.327
                    %tr
                      %td{'colspan': '4'} 472 unidad/hora
                    %tr
                      %td{'colspan': '4'} 508 unidad/hora
                    %tr
                      %td{'colspan': '4'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            3 de 4
              .dashboard-market__tables__carousel-item
                %h4 Frutas, verduras y congelados
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizado
                      %th Comprometido
                      %th Diferencia
                  %tbody
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                  %tfoot
                    %tr
                      %td 3
                      %td 3
                      %td 3
                      %td 0
                    %tr
                      %td{colspan: 2} 61.5%
                      %td{colspan: 2} 73.2%
                    %tr
                      %td{colspan: 2} 1.407
                      %td{colspan: 2} 1.702
                    %tr
                      %td{'colspan': '4'} 542 unidad/hora
                    %tr
                      %td{'colspan': '4'} 598 unidad/hora
                    %tr
                      %td{'colspan': '4'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            2 de 3
              .dashboard-market__tables__carousel-item
                %h4 Panadería
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizado
                      %th Comprometido
                      %th Diferencia
                  %tbody
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                  %tfoot
                    %tr
                      %td 5
                      %td 4
                      %td 3
                      %td 1
                    %tr
                      %td{colspan: 2} 63.1%
                      %td{colspan: 2} 72.8%
                    %tr
                      %td{colspan: 2} 1.204
                      %td{colspan: 2} 1.408
                    %tr
                      %td{'colspan': '4'} 427 unidad/hora
                    %tr
                      %td{'colspan': '4'} 492 unidad/hora
                    %tr
                      %td{'colspan': '4'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            3 de 4
              .dashboard-market__tables__carousel-item
                %h4 Carnes
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizado
                      %th Comprometido
                      %th Diferencia
                  %tbody
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                  %tfoot
                    %tr
                      %td 4
                      %td 4
                      %td 3
                      %td 1
                    %tr
                      %td{colspan: 2} 56.8%
                      %td{colspan: 2} 72.5%
                    %tr
                      %td{colspan: 2} 2.507
                      %td{colspan: 2} 2.905
                    %tr
                      %td{'colspan': '4'} 682 unidad/hora
                    %tr
                      %td{'colspan': '4'} 704 unidad/hora
                    %tr
                      %td{'colspan': '4'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            2 de 4
              .dashboard-market__tables__carousel-item
                %h4 Fiambrería
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizado
                      %th Comprometido
                      %th Diferencia
                  %tbody
                    %tr
                      %td 2
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 1
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 1
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 1
                      %td 2
                      %td 2
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                      %td 0
                      %td 0
                  %tfoot
                    %tr
                      %td 5
                      %td 4
                      %td 4
                      %td 0
                    %tr
                      %td{colspan: 2} 55.3%
                      %td{colspan: 2} 72.9%
                    %tr
                      %td{colspan: 2} 1.340
                      %td{colspan: 2} 1.602
                    %tr
                      %td{'colspan': '4'} 908 unidad/hora
                    %tr
                      %td{'colspan': '4'} 1.102 unidad/hora
                    %tr
                      %td{'colspan': '4'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            3 de 4
    .col-md-6
      .dashboard-market__chart
        %h3.sub-titulo-pantalla Cumplimiento de plan
        %canvas#market-plan-compliance
    .col-md-6.dashboard__productivity-charts
      .dashboard__productivity-charts__item__table{style: 'background-color: white; border-radius: 5px; border: 1px solid #dce3e6; padding: 20px;'}
        .table-responsive
          %table.table.table-details{style: 'display: table !important;'}
            %thead
              %tr{style: 'font-size: 14px;'}
                %th &nbsp;
                %th Colaborador
                %th Turno
                %th Descripción
            %tbody
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Ricardo Gonzalez
                %td T1
                %td TURNO 1 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Carlos Paz
                %td T1
                %td TURNO 1 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Claudia Andrea Bravo Lopez
                %td T2
                %td TURNO 2 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Juan Herrera
                %td T2
                %td TURNO 2 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Ulises Medina
                %td T3
                %td TURNO 2 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Rodrigo Sanz
                %td T3
                %td TURNO 3 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Margarita Cuevas
                %td T4
                %td TURNO 4 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Antonio Brown
                %td T4
                %td TURNO 4 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Pedro Silva
                %td T5
                %td TURNO 1 DE 36 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Javiera Ruiz
                %td T5
                %td TURNO 1 DE 36 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Pablo Jara
                %td T6
                %td TURNO 2 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Alejandra Fuentes
                %td T6
                %td TURNO 2 DE 45 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Juan Pablo Garcia
                %td T9
                %td TURNO 1 DE 24 HORAS
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Luis Sanchez
                %td T9
                %td TURNO SÁBADO
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Ricardo Urrutia
                %td T9
                %td TURNO SÁBADO
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Mauricio Martinez
                %td T9
                %td TURNO 1 TARDE
              %tr
                %td
                  .thumbnail
                    = image_tag 'table-thumbnail-default.jpg'
                %td Francisco Lillo
                %td T1
                %td TURNO 1 DE 45 HORAS