<%= simple_form_for(@sale_by_seller) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :seller %>
    <%= f.input :month %>
    <%= f.input :week %>
    <%= f.input :day %>
    <%= f.input :time %>
    <%= f.input :store_id %>
    <%= f.input :sale %>
    <%= f.input :turn %>
    <%= f.input :year %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
