<div class="container-fluid">
  <div class="pantalla-seccion d-flex flex-wrap justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Ventas reales por colaborador</div>
    </div>
    <div class="align-self-end text-right boton-comparar">
      <%= form_with url: import_sale_by_sellers_path, multipart: true, local: true do %>
        <br>
        <%= link_to 'Resetear datos', delete_sale_by_sellers_path, class: "btn" %>
        <%= link_to 'Descargar datos de prueba', downloads_sale_by_sellers_path, class: "btn" %>
      <% end %>
    </div>
  </div>

  <div class="formulario-comparacion">
    <div style="overflow: auto;">
      <table class="table table-stripped" style="width: 100%" id="table-sale_by_seller">
        <thead>
          <tr>
            <th>Colaborador</th>
            <th>Mes</th>
            <th>Semana</th>
            <th>Día</th>
            <th>Hora</th>
            <th>Tienda</th>
            <th>Venta</th>
            <th>Turno</th>
            <th>Año</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @sale_by_sellers.each do |sale_by_seller| %>
            <tr>
              <td><%= sale_by_seller.seller %></td>
              <td><%= sale_by_seller.month %></td>
              <td><%= sale_by_seller.week %></td>
              <td><%= sale_by_seller.day %></td>
              <td><%= sale_by_seller.hour %></td>
              <td><%= sale_by_seller.department %></td>
              <td><%= sale_by_seller.sale %></td>
              <td><%= sale_by_seller.turn %></td>
              <td><%= sale_by_seller.year %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>