  <%= simple_form_for @search, :url => locals[:path], :class => 'row', :method => :get do |f| %>
    <%= f.input :cluster, collection: @clusters, label: 'Segmento económico', wrapper: :select2, selected: params[:cluster] , label: false%>
    <%= f.input :department, collection: @masterDepartments, label: 'Departamento', wrapper: :select2, selected: params[:department] , label: false%>
    <%= f.input :year, collection: [2018], label: 'Año', wrapper: :select2, selected: params[:year] , label: false%>
    <%= f.input :month, collection: (1..6).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B").capitalize, m]}, label: 'Mes', wrapper: :select2, selected: @month , label: false %>
    <input type="hidden" name="week" id="week" value="<%= params[:week] %>">
    <button class="btn btn-success" type="submit">Buscar</button>
  <% end %>
