<div class="container-fluid" id="sales_cluster">
  <div class="pantalla-seccion d-flex justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Comparativo de Ventas</div>
    </div>        
  </div>

  <%= render 'search_form', locals: { status: 'show', path: month_sales_cluster_index_path} %>

 <div class="row" id="compare_stores"></div>
  <div class="grafico-principal">
    <div>    
      <div class="grafico-1">Venta Real por Segmento - <%= I18n.l(Date.parse("#{'%02d' % @month }/01"), format: "%B", locale: :es).capitalize %> -  <%= @year %></div>
      <p class="m-t-20 grafico-1">
        Tiendas:
        <% @stores.each do |s| %>  
         <span><%= s.name %></span>
        <% end %>
      </p>
    </div>
    <canvas id="canvas"></canvas>
  </div>

  <div class="formulario-comparacion">
  <!-- tabla -->
    <div class="sub-titulo-pantalla"><%= I18n.l(Date.parse("#{'%02d' % @month }/01"), format: "%B", locale: :es).capitalize %> <%= @year %></div>
    <div style="overflow-y: auto;">
      <table class="table-shift table table-bordered">
        <thead>
          <tr>
            <th></th>
            <% week = 0 %>
            <% (@resultStore.first[:saleWeek].length).times do |i| %>
            <th> <%= "Semana #{week += 1 }" %> </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @resultStore.each do |store| %>
          <tr>
            <td><%= store[:label] %></td>
            <% store[:saleWeek].each do |v| %>
              <td><%= number_to_currency v %></td>
            <% end %>
          </tr>      
          <% end %>     
        </tbody>
      </table>
    </div>       
  </div>
  
</div> 

