<%= simple_form_for(@return_case) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_case %>
    <%= f.input :eff_margin %>
    <%= f.input :total_surplus %>
    <%= f.input :compensation_cost %>
    <%= f.input :integer %>
    <%= f.input :status %>
    <%= f.input :user %>
    <%= f.input :message %>
    <%= f.input :deficit_total %>
    <%= f.input :tolerance %>
    <%= f.input :version %>
    <%= f.input :format_result %>
    <%= f.input :max_time %>
    <%= f.input :lunchs %>
    <%= f.input :turns %>
    <%= f.input :delta %>
    <%= f.input :epsilon %>
    <%= f.input :support %>
    <%= f.input :model %>
    <%= f.input :sales_plan %>
    <%= f.input :obj_function %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
