<p id="notice"><%= notice %></p>

<p>
  <strong>Id case:</strong>
  <%= @return_case.id_case %>
</p>

<p>
  <strong>Eff margin:</strong>
  <%= @return_case.eff_margin %>
</p>

<p>
  <strong>Total surplus:</strong>
  <%= @return_case.total_surplus %>
</p>

<p>
  <strong>Compensation cost:</strong>
  <%= @return_case.compensation_cost %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @return_case.integer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @return_case.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @return_case.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @return_case.message %>
</p>

<p>
  <strong>Deficit total:</strong>
  <%= @return_case.deficit_total %>
</p>

<p>
  <strong>Tolerance:</strong>
  <%= @return_case.tolerance %>
</p>

<p>
  <strong>Version:</strong>
  <%= @return_case.version %>
</p>

<p>
  <strong>Format result:</strong>
  <%= @return_case.format_result %>
</p>

<p>
  <strong>Max time:</strong>
  <%= @return_case.max_time %>
</p>

<p>
  <strong>Lunchs:</strong>
  <%= @return_case.lunchs %>
</p>

<p>
  <strong>Turns:</strong>
  <%= @return_case.turns %>
</p>

<p>
  <strong>Delta:</strong>
  <%= @return_case.delta %>
</p>

<p>
  <strong>Epsilon:</strong>
  <%= @return_case.epsilon %>
</p>

<p>
  <strong>Support:</strong>
  <%= @return_case.support %>
</p>

<p>
  <strong>Model:</strong>
  <%= @return_case.model %>
</p>

<p>
  <strong>Sales plan:</strong>
  <%= @return_case.sales_plan %>
</p>

<p>
  <strong>Obj function:</strong>
  <%= @return_case.obj_function %>
</p>

<%= link_to 'Edit', edit_return_case_path(@return_case) %> |
<%= link_to 'Back', return_cases_path %>