<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @r.store %>
</p>

<p>
  <strong>Department:</strong>
  <%= @r.department %>
</p>

<p>
  <strong>Date:</strong>
  <%= @r.date %>
</p>

<p>
  <strong>Year:</strong>
  <%= @r.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @r.month %>
</p>

<p>
  <strong>Week:</strong>
  <%= @r.week %>
</p>

<p>
  <strong>Dow:</strong>
  <%= @r.dow %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @r.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @r.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @r.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @r.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @r.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @r.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @r.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @r.sixteen %>
</p>

<p>
  <strong>Seventeen:</strong>
  <%= @r.seventeen %>
</p>

<p>
  <strong>Eighteen:</strong>
  <%= @r.eighteen %>
</p>

<p>
  <strong>Nineteen:</strong>
  <%= @r.nineteen %>
</p>

<p>
  <strong>Twenty:</strong>
  <%= @r.twenty %>
</p>

<p>
  <strong>Twenty one:</strong>
  <%= @r.twenty_one %>
</p>

<p>
  <strong>Twenty two:</strong>
  <%= @r.twenty_two %>
</p>

<p>
  <strong>Twenty three:</strong>
  <%= @r.twenty_three %>
</p>

<p>
  <strong>Total day:</strong>
  <%= @r.total_day %>
</p>

<%= link_to 'Edit', edit_r_path(@r) %> |
<%= link_to 'Back', rs_index_path %>