<h2>Buscar -  Plan de Ventas</h2>

<div class="container-fluid padding-25 sm-padding-10 bg-white" id="search-sale_plan">
  
  <div class="card card-transparent">
    <div class="card-header ">
      <div class="card-title">Parámetros de Búsqueda
      </div>
    </div>
    <div class="card-block">

      <%= simple_form_for @search do |f| %>

      <div class="row">

        <div class="col-md-3">
          <%= f.input :store, collection: @stores, label: 'Tienda' %>  
        </div>

        <div class="col-md-3">
          <%= f.input :department, collection: nil, label: 'Departamento' %>  
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <%= f.button :submit %>
        </div>  

      </div>
      <% end %>

    </div>
  </div>  

 <div class="card card-transparent">
    <div class="card-header ">
      <div class="card-title">Resultado
      </div>
    </div>

    <div class="card-block">
      <h3>Vista Semana - #44 - 2016</h3>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-stripped table-striped table-smallFont">
            <thead>
              <tr>
                <th><i class="fa fa-plus btn-expand"></i></th>
                <th>Lun<br><%= @dates_week[0] %></th>
                <th>Mar<br><%= @dates_week[1] %></th>
                <th>Mie<br><%= @dates_week[2] %></th>
                <th>Jue<br><%= @dates_week[3] %></th>
                <th>Vie<br><%= @dates_week[4] %></th>
                <th>Sáb<br><%= @dates_week[5] %></th>
                <th>Dom<br><%= @dates_week[6] %></th>
              </tr>
            </thead>
            <tbody class="dn week_detail">
              <% #binding.pry %>
            <% @week.each do |hour, value|  %>
            <tr>
              <th><%= hour %></th>
              <% value.each do |k, v| %>
                <td><%= number_to_currency v %></td>
              <% end %>
            </tr>
            <% end %>
            </tbody>
            <tfoot>
              <th>Totales </th>
              <% @total_week.each do |k,v|  %>
              <td><%= number_to_currency v %></td>
              <% end %>
            </tfoot>
          </table>
        </div>

        <div class="col-md-6">
          Gráfica
          <div id="nvd3-area" class="line-chart m-t-30 text-center" data-x-grid="false">
            <svg></svg>
          </div>

          <div class="nvd3-line line-chart text-center" data-x-grid="false">
            <svg></svg>
          </div>

        </div>

      </div>

    </div>


    <div class="card-block">
      <h3>Vista Mes - Noviembre - 2016</h3>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-stripped table-striped table-smallFont">
            <thead>
              <tr>
                <% @sp_month.each do |k,v| %>
                  <th>Semana <%= k %> - 2016</th>
                <% end %>
              </tr>
            </thead>
            <tbody class="">
              <% @sp_month.each do |k,v| %>
              <td><%= number_to_currency v %></td>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          Gráfica
          <div id="nvd3-area2" class="line-chart m-t-30 text-center" data-x-grid="false">
            <svg></svg>
          </div>

        </div>

      </div>

    </div>

  </div>   

</div> 


