<%= simple_form_for(@shift_break) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :seller %>
    <%= f.input :date %>
    <%= f.input :time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
