<p id="notice"><%= notice %></p>

<h1>Shift Breaks</h1>

<table class="table table-stripped table-condensed table-hover table-smallFont" id="table-shift_break">
  <thead>
    <tr>
      <th>Seller</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_breaks.each do |shift_break| %>
      <tr>
                <td><%= shift_break.seller %></td>
                <td><%= shift_break.date %></td>
                <td><%= shift_break.time %></td>
        
        <td>

        <%= link_to shift_break_path(shift_break), :class => 'btn btn-default' do %>
        <i class="fa fa-eye"></i> Ver ##Shift Break
        <% end %>

        <%= link_to edit_shift_break_path(shift_break), :class => 'btn btn-default' do %>
        <i class="fa fa-edit"></i> Editar ##Shift Break
        <% end %>

        <%= link_to shift_break_path(shift_break), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' do %>
        <i class="fa fa-trash-o"></i> Eliminar ##Shift Break
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift Break', new_shift_break_path %>