<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @shift_break.seller %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shift_break.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @shift_break.time %>
</p>

<%= link_to 'Edit', edit_shift_break_path(@shift_break) %> |
<%= link_to 'Back', shift_breaks_path %>