<div>
  <div class="grafico-principal">
    <canvas id="canvas2"></canvas>
  </div>
</div>
<div class="formulario-comparacion">
  <div class="sub-titulo-pantalla"><%= I18n.l(Date.parse("#{'%02d' % @month }/01"), format: "%B", locale: :es).capitalize %> <%= @year %></div>
  <table class="table-shift table table-striped">
    <thead>
      <tr>
        <th> Tienda </th>
        <% @real_source.each do |k,v| %>
        <th> Semana <%= k %> </th>
        <% end %>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @store_source.name %></td>

        <%
          @real_source.each do |k,v|
          @sum1 += @real_source[k]
        %>
        <td>
          <%= number_to_currency @real_source[k] %>
        </td>
        <% end %>
        <td>
          <%= number_to_currency @sum1 %>
        </td>
      </tr>

      <tr>
        <td><%= @store.name %></td>

        <%
          @real_vs.each do |k,v|
          @sum2 += @real_vs[k]
        %>
        <td>
          <%= number_to_currency @real_vs[k] %>
        </td>
        <% end %>
        <td>
          <%= number_to_currency @sum2 %>
        </td>
      </tr>
      <tr class="table-warning">
        <td><b>  </b></td>
        <% @dif1.each do |v|%>
        <td class="text-centerx"><%= v.round(2) %>%
          <% if v > 0  %>
          <i class="text-success fa fa-caret-up"></i>
          <% else %>
          <i class="text-danger fa fa-caret-down"></i>
          <% end -%>
        </td>
        <% end %>
        <td class="text-centerx"><%= @sum_dif %>%
          <% if @sum_dif > 0  %>
          <i class="text-success fa fa-caret-up"></i>
          <% else %>
          <i class="text-danger fa fa-caret-down"></i>
          <% end -%>
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>