<div class="container-fluid p-t-0 p-l-30 bg-white" id="sales_month">

  <div class="card card-transparent">
    <div class="card-header ">
      <div class="row">
        <div class="col-sm-3">
          <div class="card-title">
            Resultado
          </div>
        </div>
        <div class="col-sm-9">
          <div class="pull-right">
            <button type="button" class="btn btn-sm btn-info btn-params-sales"><i class="fa fa-cog"></i> Parametros de Búsqueda </button>
            <button type="button" class="btn btn-sm btn-warning btn-compare-sales"><i class="fa fa-exchange"></i> Comparar </button>
          </div>
        </div>        
      </div>
    </div>

    <%= render 'search_form', locals: { status: 'hidden', path: month_sales_path} %>


    <div class="card-block">
      <h4>Estadisticas de Ventas - Temporadas -  <%= @year %></h4>
      <p class="m-t-20">Cluster: <span class="label label-default"><%= "#{@store.economic_segment} - #{@store.size}"  %></span>
      Tienda: <span class="label label-default"><%= @store.name %></span>
      Departamento: <span class="label label-default"><%= @dep.name %></span>
      </p>
     
      <div class="row m-t-30">
        <div class="col-xl-6 col-lg-12 col-md-12 col-12 col-sm-12">
          <table class="table table-striped table-smallFont">
            <thead class="">
              <tr class="bg-success">
              	<td class="text-center fs-15 text-bold"> <%= link_to "#{@year}", year_sales_path(store: @store.id, department: @dep.id, month:@month, year: @year), class: 'text-white'  %></td>
                <% @sp_month.each do |k,v| %>
                <td class="text-center text-uppercase text-white fs-15 text-bold"> <%= link_to "Temporada #{k}", year_sales_path(store: @store.id, department: @dep.id, month:@month, year: @year, week: k), class: 'text-white' %> </td>
                <% end %>
                <td class="text-center"> <strong class="text-center text-white fs-15"> Σ </strong> </td>
              </tr>
            </thead>
            <tbody class="">
              <tr>
                <td>PLAN</td>
                <%
                @sp_month.each do |k,v|
                @sum2 += v
                %>
                <td><%= number_to_currency v %></td>
                <% end %>
                <td>
                  <%= number_to_currency @sum2 %>
                </td>
              </tr> 
              <tr>
            		<td>REAL</td>

            		<%
                  @sp_month.each do |k,v|
                  @sum1 += @real[k]
                %>
            		<td>
                  <%= number_to_currency @real[k] %>
                </td>
            		<% end %>
                <td>
                  <%= number_to_currency @sum1 %>
                </td>
            	</tr>
              <tr>
                <td>HISTÓRICO</td>
                <%
                @sp_month.each do |k,v|
                @sum3 += @historic[k]
                %>
                <td><%= number_to_currency @historic[k] %></td>
                <% end %>
                <td>
                  <%= number_to_currency @sum3 %>
                </td>

              </tr>              
            </tbody>
            <tfoot>
              <tr class="table-warning">
                <td><b>Real vs Plan  </b></td>
                <% @dif1.each do |v|%>
                <td class="text-centerx"><%= v.round(2) %>%
                <% if v > 0  %>
                  <i class="text-success fa fa-caret-up"></i>
                <% else %>
                  <i class="text-danger fa fa-caret-down"></i>
                <% end -%>
                </td>
                <% end %>
                <td> - </td>
              </tr>
              <tr class="table-warning">
                <td><b>Real vs Histórico</b> </td>
                <% @dif2.each do |v|%>
                <td class="text-centerx"><%= v.round(2) %>%
                <% if v > 0  %>
                  <i class="text-success fa fa-caret-up"></i>
                <% else %>
                  <i class="text-danger fa fa-caret-down"></i>
                <% end -%>
                </td>
                <% end %>
                <td> - </td>
              
              </tr>              
            </tfoot>
          </table>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-12 col-sm-12">

         <div style="width:90%;">
            <canvas id="canvas"></canvas>
          </div>
        </div>

      </div>
    </div>

  </div>   

</div> 