<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="pantalla-seccion d-flex flex-wrap justify-content-between mb-2">
    <div class="align-self-end">
      <div class="titulo-pantalla">Turnos</div>
    </div>
    <!--
    <div class="align-self-end text-right boton-comparar">
      <%= form_with url: import_available_shifts_path, multipart: true, local: true do %>
        <br>
        <%= submit_tag '+ Importar', class: "btn btn-primary btn-compare-sales" %>
      <% end %>
    </div>
    -->
  </div>
  <div class="formulario-comparacion">
    <div class="sub-titulo-pantalla">Listado de turnos</div>
    <table class="table-shift table table-striped">
      <thead>
        <tr>
          <td>Numero Turno</td>
          <td>Nombre</td>
          <td colspan="1"></td>
        </tr>
      </thead>
      <tbody>
        <% @available_shifts.each do |available_shift| %>
          <tr>
            <td><%= available_shift.num %></td>
            <td><%= available_shift.name %></td>
            <td><%= link_to 'Detalle', available_shift_path(:num => available_shift.num)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>