<p id="notice"><%= notice %></p>

<h1>Maestro de Turnos</h1>
<%= form_with url: import_available_shifts_path, multipart: true, local: true do %>
  <%= label_tag :file, 'Importar desde xlsx' %>
  <%= file_field_tag :file  %>
  <br>
  <%= submit_tag 'Importar' %>
<% end %>

<table class="table table-hover table-bordered table-condensed mg-t-30">
  <thead class="bg-success">
    <tr class="text-white text-uppercase no-padding bold">
      <td>Numero Turno</td>
      <td>Nombre</td>
      <td colspan="1"></td>
    </tr>
  </thead>

  <tbody>
    <% @available_shifts.each do |available_shift| %>
      <tr>
        <td><%= available_shift.num %></td>
        <td><%= available_shift.name %></td>
        <td><%= link_to 'Detalle', available_shift_path(:num => available_shift.num)%></td>
      </tr>
    <% end %>
  </tbody>
</table>