<div class="container-fluid p-t-0 p-l-30 bg-white">
   <div class="card card-transparent">
    <div class="card-header ">
      <div class="card-title">
        Detalle Turno 
      </div>
    </div>

    <div class="card-block">

      

      <div class="row">
        <div class="col-lg-12">
          <h4 class="bold"><%= @as.first.name %></h4>  
        </div>
      </div>

      <div class="row ">  
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dn">
          <h5 class="text-uppercase fs-13 bold">Personal Asignado</h5>
          <table class="table table-striped">
            <thead class="bg-success">
              <tr class="text-white text-uppercase f-15 no-padding">
                <td>#</td>
                <td>Nombre</td>
                <td>Tienda</td>
                <td>Departamento</td>
                <td>Fecha Inicio Turno</td>
              </tr>
            </thead>
            <tbody class="t-p-3">
              <% @sellers.each_with_index do |s,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td>
                  <%= link_to seller_assigned_shift_path(seller_id: s.id) do %> 
                    <%= s.fullname  %>
                  <% end -%>

                </td>
                <td><%= s.store %></td>
                <td><%= s.department %></td>
                <td><%= s.begin_shift %></td>
              </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h5 class="text-uppercase m-t-30 fs-13 bold">Planificación</h5>
          <div class="row ">
            <%= render 'shift_week', :locals => { :w => 1, :s => @w1 } %>
            <%= render 'shift_week', locals: { s: @w2, w: 2} %>
            <%= render 'shift_week', locals: { s: @w3, w: 3} %>
            <%= render 'shift_week', locals: { s: @w4, w: 4} %>
          </div>
        </div>
      </div>

      </div>
  </div>
</div>