<h1>Venta Histórica</h1>
<%= form_with url: import_historic_sales_path, multipart: true, local: true do %>
  <%= label_tag :file, 'Importar desde xlsx' %>
  <%= file_field_tag :file  %>
  <br>
  <%= submit_tag 'Importar', class: "btn btn-light" %>
<% end %>

<table id="historic_sales" class="table-shift table table-bordered bg-master-lightest">
  <thead>
    <tr>
      <th>Store</th>
      <th>Department</th>
      <th>Date</th>
      <th>09:00</th>
      <th>10:00</th>
      <th>11:00</th>
      <th>12:00</th>
      <th>13:00</th>
      <th>14:00</th>
      <th>15:00</th>
      <th>16:00</th>
      <th>17:00</th>
      <th>18:00</th>
      <th>19:00</th>
      <th>20:00</th>
      <th>21:00</th>
      <th>22:00</th>
      <th>23:00</th>
      <th>00:00</th>
    </tr>
  </thead>

  <tbody>
    <% @historic_sales.each do |historic_sale| %>
      <tr>
        <td><%= historic_sale.store %></td>
        <td><%= historic_sale.department %></td>
        <td><%= historic_sale.historic_date %></td>
        <td><%= number_to_currency historic_sale.nine %></td>
        <td><%= number_to_currency historic_sale.ten %></td>
        <td><%= number_to_currency historic_sale.eleven %></td>
        <td><%= number_to_currency historic_sale.twelve %></td>
        <td><%= number_to_currency historic_sale.thirteen %></td>
        <td><%= number_to_currency historic_sale.fourteen %></td>
        <td><%= number_to_currency historic_sale.fifteen %></td>
        <td><%= number_to_currency historic_sale.sixteen %></td>
        <td><%= number_to_currency historic_sale.seventeen %></td>
        <td><%= number_to_currency historic_sale.eighteen %></td>
        <td><%= number_to_currency historic_sale.nineteen %></td>
        <td><%= number_to_currency historic_sale.twenty %></td>
        <td><%= number_to_currency historic_sale.twenty_one %></td>
        <td><%= number_to_currency historic_sale.twenty_two %></td>
        <td><%= number_to_currency historic_sale.twenty_three %></td>
        <td><%= number_to_currency historic_sale.twenty_four %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>