<p id="notice"><%= notice %></p>

<h1>Summary Cases</h1>

<table class="table table-stripped table-condensed table-hover table-smallFont" id="table-summary_case">
  <thead>
    <tr>
      <th>Id case</th>
      <th>Sale plan</th>
      <th>Coverange deficit</th>
      <th>Surplus coverange</th>
      <th>Total deviation</th>
      <th>Cost of remunerations</th>
      <th>Margin adjustment</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @summary_cases.each do |summary_case| %>
      <tr>
                <td><%= summary_case.id_case %></td>
                <td><%= summary_case.sale_plan %></td>
                <td><%= summary_case.coverange_deficit %></td>
                <td><%= summary_case.surplus_coverange %></td>
                <td><%= summary_case.total_deviation %></td>
                <td><%= summary_case.cost_of_remunerations %></td>
                <td><%= summary_case.margin_adjustment %></td>
        
        <td>

        <%= link_to summary_case_path(summary_case), :class => 'btn btn-default' do %>
        <i class="fa fa-eye"></i> Ver ##Summary Case
        <% end %>

        <%= link_to edit_summary_case_path(summary_case), :class => 'btn btn-default' do %>
        <i class="fa fa-edit"></i> Editar ##Summary Case
        <% end %>

        <%= link_to summary_case_path(summary_case), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' do %>
        <i class="fa fa-trash-o"></i> Eliminar ##Summary Case
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summary Case', new_summary_case_path %>