<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>tooxs - workforce management optimizer - login </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container-fluid h-100 login">
    <div class="row h-100 justify-content-center align-items-center">

      <div class="col-md-8">
        <div class="row">

          <div class="col-md-5 login__brand">
            <div class="login__brand__logo">
              <%= image_tag 'logo-tooxs.png' %>
            </div>

            <div class="login__brand__copyright">
              <p>
                Todos los derechos reservados<br>
                tooxs - <%= Date.today.year %>
              </p>
            </div>
          </div>

          <div class="col-md-7 login__form">

            <div class="login__form__brands">
              <div class="login__form__brands__item">
                <%= image_tag 'falabella_logo.jpg' %>
              </div>
              <div class="login__form__brands__item">
                <%= image_tag 'sodimac_logo.jpg' %>
              </div>
              <div class="login__form__brands__item">
                <%= image_tag 'tottus_logo.jpg' %>
              </div>
            </div>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login__form__login-form'}) do |f| %>
              <h3 class="login__form__login-form__title">Ingresa tus credenciales de acceso</h3>

              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>

              <% unless alert.nil? %>
              <span class="login-alert"><%= alert %></span>
              <% end %>

              <%= f.button :button, 'Ingresar', type: :submit,  class: 'btn btn-primary', style: 'width:100%' %>

            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>