<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tooxs - Workforce Managment Optimizer</title>
    <link rel="icon" href="<%= asset_pack_path('images/favicon.png') %>" type="image/png">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
  <div class="container-fluid h-100 login">
    <div class="row justify-content-center align-items-center">

      <div class="col-md-8">
        <div class="row">

          <div class="col-md-5 login__brand">
            <div class="login__brand__logo">
              <img src="<%= asset_pack_path('images/tooxs-logo-color.svg') %>" alt="Tooxs">
            </div>

            <div class="login__brand__copyright">
              <p>
                Todos los derechos reservados<br>
                tooxs - <%= Date.today.year %>
              </p>
            </div>
          </div>

          <div class="col-md-7 login__form">

            <div class="login__form__brands" style="justify-content: center;">
              <div >
                <img src="<%= asset_pack_path('images/salcobrand.png') %>" alt="Tooxs" width=200>
              </div>
            </div>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login__form__login-form'}) do |f| %>
              <h3 class="login__form__login-form__title">Ingresa tus credenciales de acceso</h3>

              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>

              <button class="btn login__form__login-form__button" type="submit" name="button">Ingresar</button>

            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>

</body>
</html>
